{{- if eq .host.distro.family "darwin" -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>installdoctor.freshclam</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/freshclam</string>
    <string>-v</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key>
      <integer>21</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </array>
  <key>UserName</key>
  <string>{{ $.chezmoi.username }}</string>
  <key>StandardErrorPath</key>
  <string>/var/log/installdoctor/freshclam.error.log</string>
  <key>StandardOutPath</key>
  <string>/var/log/installdoctor/freshclam.output.log</string>
</dict>
</plist>
{{- end -}}
