{{- if eq .host.distro.family "linux" -}}
#!/usr/bin/env bash

# endlessh config hash: {{ include (joinPath .host.home ".ssh" "endlessh" "config") | sha256sum }}

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

### Update /etc/endlessh/config if environment is not WSL
if [[ ! "$(grep Microsoft /proc/version)" ]]; then
    if command -v endlessh > /dev/null; then
        if [ -d /etc/endlessh ]; then
            logg info 'Copying ~/.ssh/endlessh/config to /etc/endlessh/config'
            sudo cp -f "$HOME/.ssh/endlessh/config" /etc/endlessh/config

            ### Restart / enable Endlessh
            logg info 'Enabling the `endlessh` service'
            sudo systemctl enable endlessh
            logg info 'Restarting the `endlessh` service'
            sudo systemctl restart endlessh
        else
            logg warn 'The /etc/endlessh folder does not exist'
        fi
    else
        logg info 'Skipping Endlessh configuration because the `endlessh` executable is not available in the PATH'
    fi
else
    logg info 'Skipping Endlessh configuration since environment is WSL'
fi

{{ end -}}
