#!/usr/bin/env bash

# universal/common-dependencies hash: {{ include (joinPath ".chezmoitemplates" "universal" "common-dependencies") | sha256sum }}
# debian/common-dependencies hash: {{ include (joinPath ".chezmoitemplates" "debian" "common-dependencies") | sha256sum }}

{{ includeTemplate "universal/logg" }}

{{- $packages := splitList " " (includeTemplate "universal/common-dependencies" .) -}}
{{- $additionalPackages := splitList " " (includeTemplate "debian/common-dependencies" .) -}}
{{- $packages = concat $packages $additionalPackages -}}

logg 'Installing common dependencies using `apt-get`'
logg info 'Dependencies: {{ $packages | sortAlpha | uniq | join " " -}}'

logg info 'Running `sudo apt-get update`'
sudo apt-get update
for PACKAGE in {{ $packages | sortAlpha | uniq | join " " -}}; do
    logg info 'Installing `'"$PACKAGE"'`'
    sudo apt-get install -y --no-install-recommends "$PACKAGE" || EXIT_CODE=$?
    if [ -n "$EXIT_CODE" ]; then
        logg error 'Error installing `'"$PACKAGE"'` via apt-get'
        logg info 'Proceeding with installation..'
        unset EXIT_CODE
    fi
done
