#!/usr/bin/env bash

# universal/essential-packages hash: {{ include (joinPath ".chezmoitemplates" "universal" "essential-packages") | sha256sum }}

{{ includeTemplate "universal/logg" }}

{{- $packages := splitList " " (includeTemplate "universal/essential-packages" .) -}}
{{- $additionalPackages := list
"libssl-dev"
"zlib1g-dev"
"libbz2-dev"
"libreadline-dev"
"libsqlite3-dev"
"llvm"
"libncursesw5-dev"
"xz-utils"
"tk-dev"
"libxml2-dev"
"libxmlsec1-dev"
"libffi-dev"
"liblzma-dev"
-}}
{{- $packages = concat $packages $additionalPackages -}}

logg 'Installing common dependencies using `apt-get`'
logg info 'Dependencies: {{ $packages | sortAlpha | uniq | join " " -}}'

logg info 'Running `sudo apt-get update`'
sudo apt-get update
for PACKAGE in {{ $packages | sortAlpha | uniq | join " " -}}; do
    logg info 'Installing `'"$PACKAGE"'`'
    sudo apt-get install -y --no-install-recommends "$PACKAGE" || EXIT_CODE=$?
    if [ -n "$EXIT_CODE" ]; then
        logg error 'Error installing `'"$PACKAGE"'` via apt-get'
        logg info 'Proceeding with installation..'
        unset EXIT_CODE
    fi
done
