
! general
*background: rgb:16/19/25
*foreground: rgb:aa/ae/b8

! blacks
*color0: rgb:47/4b/56
*color8: rgb:60/64/6f

! reds
*color1: rgb:ed/25/4e
*color9: rgb:e5/45/68

! greens
*color2: rgb:71/f7/9f
*color10: rgb:81/ed/a9

! yellows
*color3: rgb:f9/dc/5c
*color11: rgb:ee/d8/73

! blues
*color4: rgb:7c/b7/ff
*color12: rgb:8a/ba/f6

! magentas
*color5: rgb:c7/4d/89
*color13: rgb:c6/65/97

! cyans
*color6: rgb:0/c1/e4
*color14: rgb:27/c2/e0

! whites
*color7: rgb:aa/ae/b8
*color15: rgb:c3/c7/d1
