---
version: '3.7'

services:
  mixpost:
    image: inovector/mixpost:latest
    environment:
      APP_NAME: Mixpost
      APP_KEY: /run/secrets/MIXPOST_APP_KEY
      APP_DEBUG: false
      APP_DOMAIN: mixpost.{{ .host.domain }}
      APP_URL: https://mixpost.{{ .host.domain }}
      DB_DATABASE: mixpost_db
      DB_USERNAME: mixpost_user
      DB_PASSWORD: /run/secrets/MIXPOST_DB_PASSWORD
      SSL_EMAIL: {{ .user.email }}
    ports:
      - 9240:80
    volumes:
      - storage:/var/www/html/storage/app
      - logs:/var/www/html/storage/logs
    depends_on:
      - mysql
      - redis
    restart: unless-stopped
  mysql:
    image: 'mysql/mysql-server:8.0'
    environment:
      MYSQL_DATABASE: mixpost_db
      MYSQL_USER: mixpost_user
      MYSQL_PASSWORD: /run/secrets/MIXPOST_DB_PASSWORD
    secrets:
       - MIXPOST_DB_PASSWORD
    volumes:
      - 'mysql:/var/lib/mysql'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-p ${DB_PASSWORD}"]
      retries: 3
      timeout: 5s
    restart: unless-stopped
  redis:
    image: 'redis:latest'
    command: redis-server --appendonly yes --replica-read-only no
    volumes:
      - 'redis:/data'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s
    restart: unless-stopped

volumes:
  mysql:
    driver: local
  redis:
    driver: local
  storage:
    driver: local
  logs:
    driver: local
