[Unit]
Description=rclone r2 system service (docker)
After=network-online.target

[Service]
Type=simple
User=docker
ExecStart=/usr/local/bin/rclone-mount "docker" "docker" "r2-docker"
ExecStop=/bin/fusermount -u /mnt/r2-docker
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
