---
# TODO: Figure out how to apply these configs on Windows
disk_configs:
  - label: Auxilary
    path: /dev/nvme0n1
    fstab: LABEL=Auxilary /mnt/auxilary auto nosuid,nodev,nofail,x-gvfs-show,x-gvfs-name=Auxilary 0 0
  - label: Media
    path: /dev/sda
    fstab: LABEL=Media /mnt/media auto nosuid,nodev,nofail,x-gvfs-show,x-gvfs-name=Media 0 0
  - label: Backup
    path: /dev/sdb
    fstab: LABEL=Backup /mnt/backup auto nosuid,nodev,nofail,x-gvfs-show,x-gvfs-name=Backup 0 0

samba_allowed_hosts: 127.0.0.1 10.14.141. 10.14.14. 10.0.0.
samba_netbios_name: WORKSTATION
samba_printers: []
samba_shares: []
samba_workgroup: BYTEZ
# vpn_routes:
#   - mask: 255.255.255.0
#     next_hop: 10.14.14.1
#     prefix: 10.14.24.0/24
#   - mask: 255.255.255.0
#     next_hop: 10.14.14.1
#     prefix: 10.14.14.0/24
