{{- if stat (joinPath .chezmoi.homeDir "Applications" "iTerm.app" "Contents" "Resources" "iterm2_shell_integration.tcsh") -}}
{{-   joinPath .chezmoi.homeDir "Applications" "iTerm.app" "Contents" "Resources" "iterm2_shell_integration.tcsh" -}}
{{- else if stat (joinPath "Applications" "iTerm.app" "Contents" "Resources" "iterm2_shell_integration.tcsh") -}}
{{-   joinPath "Applications" "iTerm.app" "Contents" "Resources" "iterm2_shell_integration.tcsh" -}}
{{- end -}}