{{- if stat (joinPath .chezmoi.homeDir "Applications" "iTerm.app" "Contents" "Resources" "iterm2_shell_integration.bash") -}}
{{ .chezmoi.homeDir }}/Applications/iTerm.app/Contents/Resources/iterm2_shell_integration.bash
{{- else if stat (joinPath "Applications" "iTerm.app" "Contents" "Resources" "iterm2_shell_integration.bash") -}}
/Applications/iTerm.app/Contents/Resources/iterm2_shell_integration.bash
{{- end -}}