{{- if and (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) (stat joinPath .chezmoi.sourceDir ".chezmoitemplates" "secrets" "google-assistant-client-secret") -}}
{{   includeTemplate "secrets/google-assistant-client-secret" | decrypt -}}
{{ end -}}
