API_BASE_URL=default
CACHE_LENGTH=100
CACHE_PATH=/tmp/shell_gpt/cache
CHAT_CACHE_LENGTH=100
CHAT_CACHE_PATH=/tmp/shell_gpt/chat_cache
CODE_THEME=dracula
DEFAULT_COLOR=magenta
DEFAULT_EXECUTE_SHELL_CMD=false
DEFAULT_MODEL=gpt-3.5-turbo
DISABLE_STREAMING=true
OPENAI_API_HOST=https://api.openai.com
OPENAI_API_KEY={{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "OPENAI_API_KEY")) }}{{ includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/OPENAI_API_KEY") | decrypt | trim }}{{ else }}{{ env "OPENAI_API_KEY" }}{{ end }}
OPENAI_FUNCTIONS_PATH={{ .chezmoi.homeDir }}/.config/shell_gpt/functions
OPENAI_USE_FUNCTIONS=true
OS_NAME=auto
PRETTIFY_MARKDOWN=true
REQUEST_TIMEOUT=60
ROLE_STORAGE_PATH={{ .chezmoi.homeDir }}/.config/shell_gpt/roles
SHELL_INTERACTION=true
SHELL_NAME=auto
SHOW_FUNCTIONS_OUTPUT=false
SYSTEM_ROLES=false
USE_LITELLM=false
