---
version: '3.7'
services:
  josh-github:
    image: joshproject/josh-proxy:latest
    container_name: Josh
    volumes:
      - josh-github:/data/github
    ports:
      - 8141:8080 # @domain github.megabyte.space
    environment:
      JOSH_REMOTE: https://github.com
    restart: unless-stopped

  josh-gitlab:
    image: joshproject/josh-proxy:latest
    container_name: Josh
    volumes:
      - josh-gitlab:/data/gitlab
    ports:
      - 8143:8080 # @domain gitlab.megabyte.space
    environment:
      JOSH_REMOTE: https://gitlab.com
    restart: unless-stopped

volumes:
  josh-github:
  josh-gitlab:
