---
version: '3.8'

services:
  nginx:
    image: megabytelabs/nginx:latest
    container_name: NGINX
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ''
    networks:
      - nginx_network
    deploy:
      mode: global
      placement:
        constraints: [node.role == manager]

networks:
  nginx_network:
    external: true
