---
version: "3"
services:
  app:
    image: jc21/nginx-proxy-manager:2
    restart: always
    ports:
      # Public HTTP Port:
      - '80:80'
      # Public HTTPS Port:
      - '443:443'
      # Admin Web Port:
      - '81:81'
    environment:
      # Uncomment this if IPv6 is not enabled on your host
      # DISABLE_IPV6: 'true'
    volumes:
      # Make sure this config.json file exists as per instructions above:
      - ./config.json:/app/config/production.json
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    depends_on:
      - db
  db:
    image: jc21/mariadb-aria:10.4
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: '2m4arw2dlMfUdpKGbsI1mA8yIGQtMC3EWr1hjPEQp'
      MYSQL_DATABASE: 'npm'
      MYSQL_USER: 'maziithi'
      MYSQL_PASSWORD: 'BYXKerAl5jpJG0HMX8oYi7y9Sqk4XEuM5u1oolAR2'
    volumes:
      - ./data/mysql:/var/lib/mysql

#{
#    "database": {
#      "engine": "mysql",
#      "host": "db",
#      "name": "npm",
#      "user": "maziithi",
#      "password": "BYXKerAl5jpJG0HMX8oYi7y9Sqk4XEuM5u1oolAR2",
#      "port": 3306
#    }
#  }
