*~
._*
*$py.class
allure-reports/
.angular
ansible_variables.json
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
artifacts/
.autodoc/
*.box
build/
!*ci/build/
.c9/
.cache
.cache/
*-latest.tar
*-latest.tar.gz
*-slim.tar
*-slim.tar.gz
.classpath
*.code-workspace
.com.apple.timemachine.donotpresent
common-shared/
.config/dummy.go
.config-old/
connect.lock
*.cover
.coverage
.coverage.*
coverage/
coverage.xml
db.sqlite3
db.sqlite3-journal
.directory
dist/
.DocumentRevisions-V100
.docusaurus/
.DS_Store
.env
env/
ENV/
env.bak/
.fseventsd
.fuse_hidden*
.git/
.go/
htmlcov/
.hypothesis/
Icon
.idea/
.issues/
.jest-cache/
.junit/
*.launch
libpeerconnection.log
local_settings.py
*.log
.LSOverride
**/molecule/.results/junit/
Network Trash Folder
.nfs*
node_modules/
node_modules.bak/
nosetests.xml
.nox/
.npm/
.npmrc
npm-debug.log
.nyc_output/
persistence/
pip-delete-this-directory.txt
pip-log.txt
.pnpm-store/
.project
__pycache__/
.pytest_cache/
pytestdebug.log
.release.json
*.retry
.sass-cache/
.settings/
.shared/
*.so
snap.login
.Spotlight-V100
*.sublime-workspace
*.tar
.task/
Taskfile.yml.model
.TemporaryItems
Temporary Items
testem.log
Thumbs.db
tmp/
.tox/
.Trash-*
.Trashes
*.tsbuildinfo
tsconfig.build.tsbuildinfo
typings/
.vagrant/
.variables.json
.vault_pass
.venv/
.ventoy.json
venv/
venv.bak/
.VolumeIcon.icns
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
yarn-error.log
.yubi.json
.yubi-masterkey
