---
all:
  children:
    desktop:
      hosts:
        workstation:
          ansible_host: '{{ domains[inventory_hostname | lower].hostname }}'
          ansible_connection: local
          ansible_password: '{{ admin_password }}'
          ansible_sudo_pass: '{{ admin_password }}'
          ansible_become_pass: '{{ admin_password }}'
          ansible_user: '{{ admin_username }}'
          ansible_become_method: sudo
