{
  "GitLive.Issue tracker integration": "Disabled",
  "GitLive.Special branches": "main|master|trunk|dev|develop|qa|test|release[-/].*",
  "[jsonc]": {
    "editor.defaultFormatter": "trunk.io"
  },
  "[python]": {
    "editor.formatOnType": true
  },
  "[scss]": {
    "editor.defaultFormatter": "trunk.io"
  },
  "[shellscript]": {
    "editor.defaultFormatter": "trunk.io"
  },
  "[typescript]": {
    "editor.defaultFormatter": "trunk.io"
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "trunk.io"
  },
  "ansible.lightspeed.enabled": true,
  "ansible.lightspeed.suggestions.enabled": true,
  "arduino.useArduinoCli": true,
  "atlascode.bitbucket.statusbar.enabled": false,
  "atlascode.jira.enabled": true,
  "atlascode.jira.statusbar.enabled": false,
  "atlascode.jira.statusbar.showLogin": true,
  "atlascode.jira.statusbar.showProduct": false,
  "atlascode.jira.statusbar.showUser": false,
  "aws.telemetry": false,
  "cSpell.enabled": false,
  "cSpell.hideAddToDictionaryCodeActions": true,
  "cmake.configureOnOpen": true,
  "codemetrics.basics.CodeLensEnabled": false,
  "do.manager.dropletTemplate": [
    {
      "backups": false,
      "image": "ubuntu-20-04-x64",
      "name": "temp-droplet",
      "region": "sgp1",
      "size_slug": "s-1vcpu-1gb"
    }
  ],
  "editor.formatOnPaste": false,
  "editor.formatOnSave": false,
  "editor.formatOnType": false,
  "editor.inlineSuggest.enabled": true,
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "extensions.autoUpdate": "onlyEnabledExtensions",
  "files.exclude": {
    "**/.trunk/*actions/": true,
    "**/.trunk/*logs/": true,
    "**/.trunk/*out/": true,
    "**/.trunk/*plugins/": true,
    "**/.trunk/*notifications/": true
  },
  "files.watcherExclude": {
    "**/.trunk/*actions/": true,
    "**/.trunk/*logs/": true,
    "**/.trunk/*out/": true,
    "**/.trunk/*plugins/": true,
    "**/.trunk/*notifications/": true,
    "**/.git/objects/**": true,
    "**/.git/subtree-cache/**": true,
    "**/node_modules/*/**": true,
    "**/.hg/store/**": true,
    "**/.cache/**": true,
    "**/.venv/**": true,
    "**/venv/**": true
  },
  "git.autofetch": true,
  "git.enableSmartCommit": true,
  "github.codespaces.defaultExtensions": [
    "GitHub.codespaces",
    "GitHub.vscode-pull-request-github"
  ],
  "github.codespaces.showPerformanceExplorer": true,
  "githubPullRequests.notifications": "pullRequests",
  "githubPullRequests.quickDiff": true,
  "githubPullRequests.setAutoMerge": true,
  "gitlens.menus": {
    "editor": {
      "blame": false,
      "clipboard": true,
      "compare": true,
      "history": false,
      "remote": false
    },
    "editorGroup": false,
    "editorTab": {
      "clipboard": true,
      "compare": true,
      "history": true,
      "remote": true
    },
    "explorer": {
      "clipboard": true,
      "compare": true,
      "history": true,
      "remote": true
    },
    "ghpr": {
      "worktree": true
    },
    "scm": {
      "graph": true
    },
    "scmGroup": {
      "compare": true,
      "openClose": true,
      "stash": true
    },
    "scmGroupInline": {
      "stash": true
    },
    "scmItemInline": {},
    "scmRepository": {
      "authors": true,
      "generateCommitMessage": true,
      "graph": false
    },
    "scmRepositoryInline": {
      "graph": true
    }
  },
  "go.lintTool": "golangci-lint",
  "go.toolsManagement.checkForUpdates": "off",
  "htmlhint.documentSelector": [
    "html",
    "htm"
  ],
  "htmlhint.options": {
    "attr-lowercase": false,
    "doctype-first": false
  },
  "javascript.updateImportsOnFileMove.enabled": "always",
  "jest.autoRun": {},
  "languageToolLinter.serviceType": "public",
  "languageToolLinter.smartFormat.onSave": true,
  "languageToolLinter.smartFormat.onType": true,
  "ltex.additionalRules.motherTongue": "en-US",
  "ltex.completionEnabled": true,
  "ltex.ltex-ls.logLevel": "warning",
  "powershell.promptToUpdatePowerShell": false,
  "python.analysis.extraPaths": [],
  "quokka.automaticRestart": true,
  "quokka.colors": {
    "covered": "#62b455",
    "errorPath": "#ffa0a0",
    "errorSource": "#fe536a",
    "notCovered": "#cccccc",
    "partiallyCovered": "#d2a032"
  },
  "quokka.compactMessageOutput": true,
  "quokka.showValueOnMultilineSelection": true,
  "quokka.suppressExpirationNotifications": true,
  "rsp-ui.enableStartServerOnActivation": [
    {
      "id": "redhat.vscode-server-connector",
      "name": "Red Hat Server Connector",
      "startOnActivation": true
    }
  ],
  "task": {
    "checkForUpdates": false
  },
  "task.allowAutomaticTasks": "on",
  "terminal.integrated.env.osx": {},
  "trunk.inlineDecoratorsForAllExtensions": true,
  "trunk.showWhatsNewMessage": false,
  "trunk.trace.server": "verbose",
  "trunk.trunkGrayOutNonBlockingIssues": true,
  "codetour.customTourDirectory": ".config/codetour.yml",
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.fontFamily": "'Hack Nerd Font', Menlo, Monaco, 'Courier New', monospace",
  "editor.minimap.enabled": false,
  "editor.scrollBeyondLastLine": false,
  "eslint.alwaysShowStatus": true,
  "eslint.format.enable": true,
  "eslint.lintTask.enable": true,
  "eslint.packageManager": "pnpm",
  "eslint.probe": [
    "html",
    "javascript",
    "javascriptreact",
    "json",
    "jsonc",
    "json5",
    "markdown",
    "toml",
    "typescript",
    "typescriptreact",
    "vue",
    "yaml"
  ],
  "eslint.validate": [
    "html",
    "javascript",
    "javascriptreact",
    "json",
    "jsonc",
    "json5",
    "markdown",
    "toml",
    "typescript",
    "typescriptreact",
    "vue",
    "yaml"
  ],
  "extensions.ignoreRecommendations": true,
  "files.trimTrailingWhitespace": true,
  "git.autoStash": true,
  "gitlab.showPipelineUpdateNotifications": true,
  "gitlens.showWelcomeOnInstall": false,
  "gitlens.showWhatsNewAfterUpgrades": false,
  "go.lintFlags": ["--fast"],
  "html.format.endWithNewline": true,
  "html.format.indentHandlebars": true,
  "html.format.indentInnerHtml": true,
  "html.format.templating": true,
  "javascript.format.semicolons": "remove",
  "javascript.suggest.completeFunctionCalls": true,
  "ltex.additionalRules.enablePickyRules": true,
  "markdown-preview-enhanced.previewTheme": "solarized-light.css",
  "material-icon-theme.showWelcomeMessage": false,
  "merge-conflict.autoNavigateNextConflict.enabled": true,
  "npm.enableRunFromFolder": true,
  "npm.packageManager": "pnpm",
  "prettier.printWidth": 120,
  "prettier.resolveGlobalModules": true,
  "prettier.singleQuote": true,
  "python.languageServer": "Pylance",
  "security.workspace.trust.banner": "never",
  "security.workspace.trust.enabled": false,
  "telemetry.telemetryLevel": "crash",
  "terminal.integrated.sendKeybindingsToShell": true,
  "typescript.enablePromptUseWorkspaceTsdk": true,
  "typescript.format.semicolons": "remove",
  "typescript.implementationsCodeLens.enabled": true,
  "typescript.inlayHints.enumMemberValues.enabled": true,
  "typescript.inlayHints.functionLikeReturnTypes.enabled": true,
  "typescript.inlayHints.parameterTypes.enabled": true,
  "typescript.inlayHints.variableTypes.enabled": true,
  "typescript.preferences.quoteStyle": "single",
  "typescript.referencesCodeLens.enabled": true,
  "typescript.referencesCodeLens.showOnAllFunctions": true,
  "typescript.suggest.completeFunctionCalls": true,
  "typescript.tsdk": "node_modules/typescript/lib",
  "typescript.updateImportsOnFileMove.enabled": "always",
  "vim.enableNeovim": true,
  "vim.handleKeys": {
    "<C-b>": false,
    "<C-f>": false
  },
  "vim.leader": "<space>",
  "vim.neovimPath": "/usr/bin/nvim",
  "vim.normalModeKeyBindings": [
    {
      "before": ["<C-n>"],
      "commands": [":nohl"]
    },
    {
      "before": ["leader", "w"],
      "commands": ["workbench.action.files.save"]
    },
    {
      "before": ["leader", "b", "d"],
      "commands": ["workbench.action.closeActiveEditor"]
    },
    {
      "before": ["leader", "l", "n"],
      "commands": ["editor.action.marker.next"]
    },
    {
      "before": ["leader", "l", "p"],
      "commands": ["editor.action.marker.prev"]
    }
  ],
  "vscode-neovim.neovimClean": true,
  "vscode-neovim.neovimExecutablePaths.linux": "/usr/bin/nvim",
  "vsicons.dontShowNewVersionMessage": true,
  "vscode-kubernetes.helm-path": "/usr/local/bin/helm",
  "wakatime.apiKey": "{{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "WAKATIME_API_KEY")) }}{{ includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/WAKATIME_API_KEY") | decrypt | trim }}{{ else }}{{ env "WAKATIME_API_KEY" }}{{ end }}",
  "vscord.status.buttons.button1.active.enabled": true,
  "wallaby.codeLensFeature.runTest": true,
  "wallaby.compactMessageOutput": true,
  "window.commandCenter": true,
  "window.menuBarVisibility": "toggle",
  "workbench.colorCustomizations": {
    "terminal.ansiBlack": "#002831",
    "terminal.ansiBlue": "#2176c7",
    "terminal.ansiBrightBlack": "#475b62",
    "terminal.ansiBrightBlue": "#708284",
    "terminal.ansiBrightCyan": "#819090",
    "terminal.ansiBrightGreen": "#475b62",
    "terminal.ansiBrightMagenta": "#5956ba",
    "terminal.ansiBrightRed": "#bd3613",
    "terminal.ansiBrightWhite": "#fcf4dc",
    "terminal.ansiBrightYellow": "#536870",
    "terminal.ansiCyan": "#259286",
    "terminal.ansiGreen": "#738a05",
    "terminal.ansiMagenta": "#c61c6f",
    "terminal.ansiRed": "#d11c24",
    "terminal.ansiWhite": "#eae3cb",
    "terminal.ansiYellow": "#a57706",
    "terminal.background": "#001e27",
    "terminal.foreground": "#708284",
    "terminal.selectionBackground": "#002831",
    "terminalCursor.foreground": "#708284"
  },
  "workbench.colorTheme": "GitHub Dark",
  "workbench.iconTheme": "material-icon-theme",
  "workbench.startupEditor": "readme",
  "workbench.welcomePage.walkthroughs.openOnInstall": false,
  "yaml.customTags": [
    "!And",
    "!And sequence",
    "!If",
    "!If sequence",
    "!Not",
    "!Not sequence",
    "!Equals",
    "!Equals sequence",
    "!Or",
    "!Or sequence",
    "!FindInMap",
    "!FindInMap sequence",
    "!Base64",
    "!Join",
    "!Join sequence",
    "!Cidr",
    "!Ref",
    "!Sub",
    "!Sub sequence",
    "!GetAtt",
    "!GetAZs",
    "!ImportValue",
    "!ImportValue sequence",
    "!Select",
    "!Select sequence",
    "!Split",
    "!Split sequence"
  ],
  "yaml.format.printWidth": 160,
  "yaml.format.singleQuote": true,
  "yaml.schemas": {
    "file:///Users/bzalewski/.vscode/extensions/atlassian.atlascode-3.0.3/resources/schemas/pipelines-schema.json": "bitbucket-pipelines.yml"
  },
  "thunder-client.workspaceRelativePath": ".config",
  "editor.acceptSuggestionOnEnter": "off",
  "files.associations": {
    "**/frontmatter.json": {
      "**/frontmatter.json": "jsonc",
      "**/.frontmatter/config/*.json": "jsonc",
      ".env*": "dotenv"
    },
    "editor.tokenColorCustomizations": {
      "textMateRules": [
        {
          "scope": "keyword.other.dotenv",
          "settings": {
            "foreground": "#FF000000"
          }
        }
      ]
    },
    "workbench.editorAssociations": {
      "*.webp": "magickImageReader.readImage"
    }
  }
}
