{{- if (ne .host.distro.family "windows") -}}
#!/usr/bin/env bash
# @file Kasm Workspaces
# @brief Sets up cloud desktop server via Kasm Workspaces
# @description
#     This script configures Kasm Workspaces.

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

gum log -sl info 'Kasm Workspaces coming soon..'

{{ end -}}
