{{- if (ne .host.distro.family "windows") -}}
#!/usr/bin/env bash
# @file KubeSphere Installation / Configuration
# @brief Sets up KubeSphere
# @description
#     This script sets up [KubeSphere](https://kubesphere.io/). KubeSphere is a distributed operating system for
#     cloud-native application management, using Kubernetes as its kernel. It provides a plug-and-play architecture,
#     allowing third-party applications to be seamlessly integrated into its ecosystem.

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

gum log -sl info 'KubeSphere integration coming soon..'

{{ end -}}
