#!/usr/bin/env bash
{{- if (ne .host.distro.family "windows") }}

# dot_tool-versions.tmpl hash: {{ include "dot_tool-versions.tmpl" | sha256sum }}

{{- includeTemplate "universal/profile" }}
{{- includeTemplate "universal/logg" }}

if [ -f "$ASDF_DIR/asdf.sh" ] && [ -f ~/.tool-versions ]; then
  logg info 'Sourcing asdf.sh'
  . ${ASDF_DIR}/asdf.sh
  cat .tool-versions | while read TOOL; do
    logg info 'Installing ASDF plugin `'"$TOOL"'`'
    asdf plugin add "$(echo "$TOOL" | sed 's/ .*//')"
  done
  logg info 'Installing ASDF dependencies derived from `~/.tool-versions` via `asdf install`'
  asdf install || true
else
  logg warn 'The `$ASDF_DIR/asdf.sh` or `~/.tool-versions` file is not present'
fi

{{ end -}}
