#!/usr/bin/env sh
{{- if false }}

# {{ output "sha256sum" (joinPath .chezmoi.sourceDir "private_dot_config/crontab/config")  }}

{{- includeTemplate "universal/profile" }}
{{- includeTemplate "universal/logg" }}

logg 'Installing crontab jobs'
crontab < "$XDG_CONFIG_HOME/crontab/config"
{{- end }}
# TODO
