#!/usr/bin/env sh
{{- if false }}

# crontab config hash: {{ include (joinPath .chezmoi.homeDir ".config" "crontab" "config")| sha256sum }}

{{- includeTemplate "universal/profile" }}
{{- includeTemplate "universal/logg" }}

logg 'Installing crontab jobs'
crontab < "$XDG_CONFIG_HOME/crontab/config"
{{- end }}
# TODO
