#!/usr/bin/env bash
{{- if .host.headless }}

# .zshrc hash: {{ include (joinPath .chezmoi.homeDir ".zshrc")| sha256sum }}

{{- includeTemplate "universal/profile" }}
{{- includeTemplate "universal/logg" }}

### Initialize ZSH so plugin bootstrap process is done ahead of time
if command -v zsh > /dev/null; then
  logg 'Bootstrapping ZSH plugin system'
  exec zsh && exit 0
fi
{{- end -}}
