#!/usr/bin/env bash
{{- if or (eq .host.distro.id "darwin") (eq .host.distro.family "linux") }}

# dot_tool-versions.tmpl hash: {{ include "dot_tool-versions.tmpl" | sha256sum }}

# Required for PATHs (including logging)
source "$HOME/.config/shell/exports"

if [ -f "$ASDF_DIR/asdf.sh" ] && [ -f ~/.tool-versions ]; then
  logg 'Installing ASDF dependencies derived from `~/.tool-versions`'
  . ${ASDF_DIR}/asdf.sh
  asdf install || true
else
  logg 'The `$ASDF_DIR/asdf.sh` or `~/.tool-versions` file is not present'
fi
{{- end }}
