#!/usr/bin/env bash
{{- if and false .host.headless -}}

# Required for PATHs (including logging)
source "$HOME/.config/shell/exports"

logg 'Bootstrapping Z4H'

Z4H_BOOTSTRAPPING=1 exec zsh && exit 0
{{- end -}}
