{{- if and (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "secrets" "slack-term")) -}}
{{   includeTemplate "secrets/slack-term" | decrypt -}}
{{ else if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "secrets" "slack-term-fallback")) -}}
{{   includeTemplate "secrets/slack-term-fallback" }}
{{- end -}}