[/]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file:///usr/local/share/wallpapers/Betelgeuse-{{ if eq .host.distro.id "arch" }}Archlinux{{ else if eq .host.distro.id "centos" }}CentOS{{ else if eq .host.distro.id "debian" }}Debian{{ else if eq .host.distro.id "fedora" }}Fedora{{ else if eq .host.distro.id "qubes" }}Qubes{{ else if eq .host.distro.id "ubuntu" }}Ubuntu{{ end }}/contents/source.jpg'
picture-uri-dark='file:///usr/local/share/wallpapers/Betelgeuse-{{ if eq .host.distro.id "arch" }}Archlinux{{ else if eq .host.distro.id "centos" }}CentOS{{ else if eq .host.distro.id "debian" }}Debian{{ else if eq .host.distro.id "fedora" }}Fedora{{ else if eq .host.distro.id "qubes" }}Qubes{{ else if eq .host.distro.id "ubuntu" }}Ubuntu{{ end }}/contents/source.jpg'
primary-color='#000000000000'
secondary-color='#000000000000'
