cache={{ .chezmoi.homeDir }}/.cache/npm
init-author-email={{ .user.email }}
init-author-name="{{ .user.name }} <{{ .user.email }}> ({{ .user.domain }})"
init-author-url="https://{{ .user.domain }}"
init-license=MIT
init-module={{ .chezmoi.homeDir }}/.config/npm/config/npm-init.js
init-version=0.0.1
loglevel=error
network-concurrency=32
prefix={{ .chezmoi.homeDir }}/.local/share/npm
strict-peer-dependencies=false
//registry.npmjs.org/:_authToken={{ if and (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "secrets" "NPM_TOKEN")) }}{{- includeTemplate "secrets/NPM_TOKEN" | decrypt | trim -}}{{ else if (env "NPM_TOKEN") }}{{- env "NPM_TOKEN" -}}{{ else }}${NPM_TOKEN}{{ end }}