{
    "{{ item.ip_address }}": {
        "address": "{{ item.ip_address }}:{{ ssh_port }}",
        "port": {{ ssh_port }},
        "user": "{{ item.user | default(ansible_user | default(lookup('env', 'USER'))) }}",
        "visible": true
    }
}
