---
version: "3.7"

services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: NextCloud
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ .user.timezone }}"
    volumes:
      - nextcloud_config:/config
      - nextcloud_data:/data
    ports:
      - 26777:443
    restart: unless-stopped

volumes:
  nextcloud_config:
    name: nextcloud_config
  nextcloud_data:
    name: nextcloud_data
