{
        "auths": {
                "https://index.docker.io/v1/": {}
        },
        "credsStore": "{{ if (eq .host.distro.id "darwin") }}osxkeychain{{ else }}{{ if (eq .host.distro.id "windows") }}wincred{{ else }}secretservice{{ end }}{{ end }}"
        "currentContext": "desktop-linux"
}
