{
  "builder": {
    "gc": {
      "defaultKeepStorage": "20GB"
      "enabled": true
    }
  },
  "experimental": true,
  {{ if (eq .host.distro.family "linux") -}}
  "runtimes": {
    "runsc": {
      "path": "/usr/local/bin/runsc"
    }
  }
  {{ end -}}
}
