{{- if and (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "secrets" "ssh-config")) -}}
{{   includeTemplate "secrets/ssh-config" | decrypt -}}
{{ else if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "secrets" "ssh-config-fallback")) -}}
{{   includeTemplate "secrets/ssh-config-fallback" }}
{{- end -}}