#!/usr/bin/env bash

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

### Link authorized_keys to authorized_keys.vagrant if username is vagrant
if [ "$USER" == 'vagrant' ]; then
    logg info 'Linking authorized_keys.vagrant to authorized_keys in the .ssh folder'
    ln -s "$HOME/.ssh/authorized_keys.vagrant" "$HOME/.ssh/authorized_keys"
fi
