{{- if and (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "secrets" "ssh-lab.pub")) -}}
{{   includeTemplate "secrets/ssh-lab.pub" | decrypt -}}
{{ end -}}
