{{- if eq .host.distro.family "linux" -}}
[Unit]
Description=Service to watch git repositories

[Service]
Type=simple
User={{ .user.username }}
ExecStart={{ .chezmoi.homeDir }}/.local/bin/gitomatic-service
Restart=on-failure

[Install]
WantedBy=multi-user.target
{{ end }}
