{{- if eq .host.distro.family "linux" -}}
[Unit]
Description=Service to watch git repositories

[Service]
Type=simple
ExecStart={{ .chezmoi.homeDir }}/.local/bin/gitomatic_service
Restart=on-failure

[Install]
WantedBy=multi-user.target
{{ end }}
