{{ if and (stat (joinPath .chezmoi.sourceDir "dot_config" "gitomatic" "config.yml.tmpl")) (include "dot_config/gitomatic/config.yml.tmpl" | fromYaml ).repositories (gt (len (include "dot_config/gitomatic/config.yml.tmpl" | fromYaml ).repositories) 0) }}
mkdir -p "$HOME/.config/systemd/user/"
{{ range (include "dot_config/gitomatic/config.yml.tmpl" | fromYaml ).repositories }}
{{if (index . "passwordFile")}}{{ stat .passwordFile }}{{end}}
cat << EOF{{ .name }} > "$HOME/.config/systemd/user/{{ .name | lower }}.service"
[Unit]
Description=Service to watch repo "{{ .path }}"

[Service]
Type=simple
#User=
#Group=
ExecStart=gitomatic {{- if index . "username" }} -username {{ .username }}{{ end }}
 {{- if and (index . "passwordFile") (stat .passwordFile) }} -password {{ includeTemplate ".passwordFile" | decrypt }}{{ end }}
 {{- if index . "privKeyFile" }} -privkey {{ .privKeyFile }}{{ end }}
 {{- if index . "pull" }} -pull {{ .pull }}{{ end }}
 {{- if index . "push" }} -push {{ .push }}{{ end }}
 {{- if index . "author" }} -author {{ .author }}{{ end }}
 {{- if index . "email" }} -email {{.email }}{{ end }} {{ .path }}
Restart=on-failure

[Install]
WantedBy=default.target
EOF{{ .name }}
{{ end -}}
{{ end }}
{{ stat (joinPath .chezmoi.sourceDir "dot_config" "gitomatic" "config.yml.tmpl") }}
