{{- if eq .host.distro.family "darwin" -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Disabled</key>
    <false/>
    <key>Label</key>
    <string>gitomatic</string>
    <key>Program</key>
    <string>/usr/local/bin/gitomatic-service</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
{{- end -}}