{{- if (ne .host.distro.family "windows") -}}
#!/usr/bin/env bash

# Node.js version: {{ output "node" "--version" }}

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

### Ensure recent version of Node.js is being used
if command -v volta > /dev/null; then
  if ! test "$(node --version | sed 's/^v//' | awk '{print $1}' | awk -F'.' ' ( $1 > 15) ')"; then
    logg info 'Installing latest version of Node.js'
    volta install node@latest
  else
    logg info 'Node.js appears to meet the minimum version requirements (version >15)'
  fi
else
  logg warn 'Volta is not installed - skipping logic that ensures Node.js meets the version requirement of >15'
fi

{{ end -}}
