[Profile6]
Name=Factory (w/ plugins)
IsRelative=1
Path={{ if eq .host.distro.family "darwin" }}Profiles/{{ end }}profile.plugins

[Profile5]
Name=Automation
IsRelative=1
Path={{ if eq .host.distro.family "darwin" }}Profiles/{{ end }}profile.automation

[Profile4]
Name=Development
IsRelative=1
Path={{ if eq .host.distro.family "darwin" }}Profiles/{{ end }}profile.development

[Profile3]
Name=Miscellaneous
IsRelative=1
Path={{ if eq .host.distro.family "darwin" }}Profiles/{{ end }}profile.miscellaneous

{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) }}
[Profile2]
Name=Private
IsRelative=1
Path={{ if eq .host.distro.family "darwin" }}Profiles/{{ end }}profile.private
Default=1
{{- end }}

[Profile1]
Name=Git (Public)
IsRelative=1
Path={{ if eq .host.distro.family "darwin" }}Profiles/{{ end }}profile.git
{{- if not (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) }}
Default=1
{{- end }}


[Profile0]
Name=Factory
IsRelative=1
Path={{ if eq .host.distro.family "darwin" }}Profiles/{{ end }}profile.default

[General]
StartWithLastProfile=1
Version=2
