<?xml version="1.0"?>
<VirtualBox xmlns="http://www.virtualbox.org/" version="1.12-linux">
  <Global>
    <ExtraData>
      <ExtraDataItem name="GUI/Details/Elements" value="general,system,preview,display,storage,audio,network,usb,sharedFolders,description"/>
      <ExtraDataItem name="GUI/GroupDefinitions/" value="n=GLOBAL"/>
      <ExtraDataItem name="GUI/LastItemSelected" value="n=GLOBAL"/>
      <ExtraDataItem name="GUI/Toolbar" value="true"/>
      <ExtraDataItem name="GUI/Tools/LastItemsSelected" value="Welcome,Details"/>
      <ExtraDataItem name="GUI/UpdateCheckCount" value="2"/>
    </ExtraData>
    <MachineRegistry/>
    <NetserviceRegistry>
      <DHCPServers>
        <DHCPServer networkName="HostInterfaceNetworking-vboxnet0" IPAddress="192.168.55.100" networkMask="255.255.255.0" lowerIP="192.168.55.101" upperIP="192.168.55.254" enabled="1"/>
      </DHCPServers>
    </NetserviceRegistry>
    <SystemProperties defaultMachineFolder="/home/{{ .user.username }}/.local/virtualbox" defaultHardDiskFormat="VDI" VRDEAuthLibrary="VBoxAuth" webServiceAuthLibrary="VBoxAuth" LogHistoryCount="3" proxyMode="0" exclusiveHwVirt="true"/>
    <USBDeviceFilters/>
  </Global>
</VirtualBox>
