{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
#!/usr/bin/env sh
# @file Secrets
# @brief Call another environment variables file to store/set secret environment variables
# @description
#     This script can be invoked by running `. ~/.config/shell/private.sh` to include secret environment variables
#     that are populated by Install Doctor during the provisioning process (if they are provided). The variables are
#     defined in the file `~/.config/shell/import-secrets-envchain.sh`, which also stores the variables in System
#     keyring if `envchain` is installed.

. "${XDG_CONFIG_HOME}/.config/shell/import-secrets-envchain.sh"

{{ end -}}
