{{- if eq .host.distro.family "linux" -}}
#!/usr/bin/env bash

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

# wireguard_conf_dir: /etc/wireguard
# system_connections_path: /Library/Preferences/com.apple.networkextension.plist

{{ end -}}