#!/usr/bin/env bash

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

if command -v aqua > /dev/null; then
  logg info 'Updating Aqua'
  aqua update-aqua
  logg info 'Installing Aqua dependencies (if any are defined)'
  aqua install -a
else
  logg info 'Skipping aqua install script because aqua was not installed'
fi
