{{- if (eq .host.distro.family "linux") -}}
#!/usr/bin/env bash

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

### Docker Clip
logg info 'Adding Docker clip commands. For more details check out https://github.com/lukaszlach/clip/'
docker clip add || EXIT_CODE=$?
if [ -n "$EXIT_CODE" ]; then
    logg error 'Failed to run `docker clip add`'
fi

### Docker Convoy
if [ ! -f /etc/docker/plugins/convoy.spec ]; then
    logg info 'Adding the Docker Convoy plugin'
    sudo mkdir -p /etc/docker/plugins/
    sudo bash -c 'echo "unix:///var/run/convoy/convoy.sock" > /etc/docker/plugins/convoy.spec'
    cd "$HOME/.local/src"
    tar xvzf convoy.tar.gz
    sudo cp convoy/convoy convoy/convoy-pdata_tools /usr/local/bin/
    rm -rf convoy
fi
