{{- if ne .host.distro.family "windows" -}}
#!/usr/bin/env bash

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

if rclone -v rclone > /dev/null; then
    logg info 'Ensuring /var/cache/rclone exists'
    sudo mkdir -p /var/cache/rclone
    sudo chmod 700 /var/cache/rclone

    logg info 'Ensuring /var/log/rclone exists'
    sudo mkdir -p /var/log/rclone
    sudo chmod 700 /var/log/rclone

    logg info 'Ensuring /mnt/s3-docker exists'
    sudo mkdir -p /mnt/s3-docker
    sudo chmod 700 /mnt/s3-docker

    logg info 'Adding ~/.local/bin/rclone-mount to /usr/local/bin'
    sudo cp -f "$HOME/.local/bin/rclone-mount" /usr/local/bin/rclone-mount
    sudo chmod +x /usr/local/bin/rclone-mount

    logg info 'Adding ~/.config/rclone/rcloneignore to /etc/rcloneignore'
    sudo cp -f "${XDG_CONFIG_HOME:-$HOME/.config}/rclone/rcloneignore" /etc/rcloneignore
    sudo chmod 644 /etc/rcloneignore

    if [ -d /etc/systemd/system ]; then
        logg info 'Adding Docker S3 rclone mount (available at /mnt/docker-s3)'
        sudo cp -f "${XDG_CONFIG_HOME:-$HOME/.config}/rclone/s3-docker.service" /etc/systemd/system/docker-s3.service
        logg info 'Enabling / restarting the S3 Docker mount'
        sudo systemctl enable docker-s3
        sudo systemctl restart docker-s3

        logg info 'Adding user S3 rclone mount (available at ~/.local/mnt/s3)'
        sudo cp -f "${XDG_CONFIG_HOME:-$HOME/.config}/rclone/s3-user.service" "/etc/systemd/system/${USER}-s3.service"
        logg info 'Enabling / restarting the S3 user mount'
        sudo systemctl enable "${USER}-s3"
        sudo systemctl restart "${USER}-s3"
    fi
else
    logg info '`rclone` is not available'
fi

{{ end -}}
