{{- if (eq .host.distro.family "linux") -}}
#!/usr/bin/env bash
set -x
# enabled extensions: {{ output "dconf" "read" "/org/gnome/shell/enabled-extensions" }}

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

### Fix for Ubuntu default extension conflicting with dash-to-dock
if dconf read /org/gnome/shell/enabled-extensions | grep dash-to-dock > /dev/null; then
    if [ -d '/usr/share/gnome-shell/extensions/ubuntu-dock@ubuntu.com' ]; then
        if [ ! -d /usr/share/gnome-shell/extensions/disabled ]; then
            sudo mkdir /usr/share/gnome-shell/extensions/disabled
            logg info 'Created /usr/share/gnome-shell/extensions/disabled for GNOME extensions that have issues'
        fi
        sudo mv '/usr/share/gnome-shell/extensions/ubuntu-dock@ubuntu.com' '/usr/share/gnome-shell/extensions/disabled/ubuntu-dock@ubuntu.com'
        logg info 'Moved ubuntu-dock@ubuntu.com to the disabled extension folder'
    fi
fi

{{ end -}}
