#!/usr/bin/env bash

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

### Ensure SDKMan is installed (https://sdkman.io/)
if [ ! -d "$SDKMAN_DIR" ]; then
  logg info 'Installing SDKMan via `curl -s "https://get.sdkman.io" | bash`'
  logg info "Install directory: $SDKMAN_DIR"
  curl -s "https://get.sdkman.io" | bash
else
  logg info 'SDKMan appears to already be installed.'
fi
