#!/usr/bin/env bash

### Remove meta sudo file
if [ -f "$HOME/.sudo_as_admin_successful" ]; then
    rm -f "$HOME/.sudo_as_admin_successful"
fi

### Remove .bash_history file
# New dotfiles specify this to be kept in the ~/.local folder
if [ -f "$HOME/.bash_history" ]; then
    rm -f "$HOME/.bash_history"
fi

### Remove wget history file
# New dotfiles include alias that automatically adds the wget-hsts file in the ~/.local folder
if [ -f "$HOME/.wget-hsts" ]; then
    rm -f "$HOME/.wget-hsts"
fi
