{{- if (ne .host.distro.family "windows") -}}
#!/usr/bin/env bash
# @file Import environment variable values into `envchain`
# @brief Ensures that values of sensitive environment variables are imported into `envchain` on either Linux or macOS
# @description
#     This script imports the values of sensitive environment variables into `envchain` if it is installed

{{ includeTemplate "universal/profile-before" }}
{{ includeTemplate "universal/logg-before" }}

### Import environment variables into `envchain`
( if command -v envchain > /dev/null; then
    . "${XDG_CONFIG_HOME}/.config/shell/private.sh"
    NAMESPACE=''
    while IFS= read -r line || [[ -n "$line" ]]; do
      if [[ $line =~ ^### ]]; then
        currentNamespaceLine=$(echo $line | tr '[:lower:]' '[:upper:]')
        currentNamespaceLine=${currentNamespaceLine//### /}
        NAMESPACE=$(echo $currentNamespaceLine | tr ' .,-' _)
      elif [[ $line =~ ^export ]]; then
        currentCmdLine=${line//export /}
        VARNAME=$(echo $currentCmdLine | cut -d'=' -f 1)
        logg info "Importing ${VARNAME} into `envchain`"
        echo ${!VARNAME} | envchain -s $NAMESPACE $VARNAME || logg error "Importing ${VARNAME} into `envchain` failed..."
      fi
    done < "${XDG_CONFIG_HOME}/.config/shell/private.sh"
  else
    logg info '`envchain` is not available or is not installed'
  fi
)
{{ end -}}
