{{- if false }}
#!/usr/bin/env bash

set -eufo pipefail

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

{{- $files := list -}}
{{- range $path := glob (list .chezmoi.sourceDir "private_dot_config/aqua/**/*.yaml.tmpl" | join "/") }}
{{- $files = concat $files (list (include $path)) -}}
{{- end }}
# aqua.yaml.tmpl hash: {{ $files | join "" | sha256sum }}
if ! command -v aqua >/dev/null 2>&1; then
  logg info 'Installing Aqua'
  curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v1.0.0/aqua-installer | bash
fi

logg info 'Updating Aqua'
aqua update-aqua
logg info 'Installing Aqua dependencies (if any are defined)'
aqua install -a
{{ end -}}
