{{- if ne .host.distro.family "windows" -}}
#!/usr/bin/env bash
# @file VIM Plugin Pre-Install
# @brief Pre-installs the VIM plugins from their git sources
# @description
#     This script pre-installs the VIM plugins defined in [`.chezmoidata.yaml`](https://github.com/megabyte-labs/install.doctor/tree/master/home/.chezmoidata.yaml)
#     so that VIM does not have to do anything on its first launch.

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

function vimSetup() {
    ### Run the VIM plugin install routine
    if command -v vim > /dev/null; then
        vim +PlugInstall +qall > /dev/null && logg success 'Successfully ran `vim +PlugInstall +qall`' || logg error 'Failed to run `vim +PlugInstall +qll`'
    fi
}
vimSetup
{{ end -}}
