#!/usr/bin/env bash
# @file Emscripten Set-Up
# @brief Ensures the latest version of Emscripten is installed and activated
# @description
#     This script installs and activates the latest version of Emscripten. This script
#     implements the [instructions outlined on Emscripten's website](https://emscripten.org/docs/getting_started/downloads.html#installation-instructions-using-the-emsdk-recommended).
#
#     This script will only run when `${XDG_DATA_HOME:-$HOME/.local/share}/emsdk` is present on the system. This folder
#     is populated via the definition in `home/.chezmoiexternal.toml.tmpl`.

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

if [ -d "${XDG_DATA_HOME:-$HOME/.local/share}/emsdk" ]; then
    logg info 'Pulling latest changes for Emscripten source code' && cd "${XDG_DATA_HOME:-$HOME/.local/share}/emsdk" && git pull
    logg info "Running emsdk install latest" && emsdk install latest > /dev/null
    logg info "Running emsdk activate latest" && emsdk activate latest > /dev/null
    logg info 'Profile source inclusions are already implemented in Bash / ZSH profile'
fi
