{{- if (ne .host.distro.family "windows") -}}
#!/usr/bin/env bash
# @file Neovim Configuration
# @brief This script configures Neovim by applying the configuration stored in `${XDG_DATA_HOME:-$HOME/.config}/nvim-custom/init.lua` if the `nvim` application is available
# @description
#     This script applies the Neovim configuration stored in `${XDG_DATA_HOME:-$HOME/.local/share}/nvchad/init.lua` if nvim is installed.
#     The custom configuration was adapted from [linuxmobile/nvchad-v2](https://github.com/linuxmobile/nvchad-v2).
#
#     ## Links
#
#     * [Default Neovim configuration](https://github.com/megabyte-labs/install.doctor/tree/master/home/dot_config/nvim-custom/init.lua)

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

### Symlink custom code for Neovim configuration
if [ ! -d "${XDG_CONFIG_HOME:-$HOME/.config}/nvim/lua/custom" ]; then
    logg info "Changes should go in ${XDG_DATA_HOME:-$HOME/.local/share}/nvchad"
    mkdir -p "${XDG_CONFIG_HOME:-$HOME/.config}/nvim/lua"
    logg info "Linking ${XDG_DATA_HOME:-$HOME/.local/share}/nvchad to ${XDG_CONFIG_HOME:-$HOME/.config}/nvim/lua/custom"
    ln -s "${XDG_DATA_HOME:-$HOME/.local/share}/nvchad" "${XDG_CONFIG_HOME:-$HOME/.config}/nvim/lua/custom"
elif command -v flatpak && flatpak list | grep 'io.neovim.nvim' > /dev/null && [ ! -d "~/.var/app/io.neovim.nvim/config/nvim/lua/custom" ]; then
    logg info "Changes should go in ${XDG_DATA_HOME:-$HOME/.local/share}/nvchad"
    mkdir -p "$HOME/.var/app/io.neovim.nvim/config/nvim/lua"
    logg info "Linking ${XDG_DATA_HOME:-$HOME/.local/share}/nvchad to ~/.var/app/io.neovim.nvim/config/nvim/lua/custom"
    ln -s "${XDG_DATA_HOME:-$HOME/.local/share}/nvchad" "$HOME/.var/app/io.neovim.nvim/config/nvim/lua/custom"
else
    logg info "${XDG_DATA_HOME:-$HOME/.local/share}/nvchad appears to already be symlinked to ${XDG_CONFIG_HOME:-$HOME/.config}/nvim/lua/custom"
fi

{{ end -}}
