{{- if (eq .host.distro.family "linux") -}}
#!/usr/bin/env bash
# @file `/etc/environment` Setup
# @brief Configures `/etc/environment` to include environment variables that should be applied globally
# @description
#     This script modifies the `/etc/environment` file on Linux devices to include:
#
#     1. `export QT_STYLE_OVERRIDE=kvantum-dark` which is required for the Linux GNOME / KDE themeing that relies on Kvantum.

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

### Ensure QT_STYLE_OVERRIDE is set in /etc/environment
logg info 'Ensuring QT_STYLE_OVERRIDE is set in /etc/environment'
if cat /etc/environment | grep QT_STYLE_OVERRIDE > /dev/null; then
  sudo sed -i 's/.*QT_STYLE_OVERRIDE.*/export QT_STYLE_OVERRIDE=kvantum-dark/' /etc/environment
  logg info 'Updated QT_STYLE_OVERRIDE in /etc/environment'
else
  echo 'export QT_STYLE_OVERRIDE=kvantum-dark' | sudo tee -a /etc/environment
  logg info 'Added QT_STYLE_OVERRIDE to /etc/environment'
fi

{{ end -}}
