#!/usr/bin/env bash
# @file Chezmoi System Apply
# @brief Applies the Chezmoi files defined in the `system/` directory of the Install Doctor project to the root of the system (for locations outside the user's home directory)
# @description
#     This script applies the `system/` Chezmoi directory to the root of the system.

gum log -sl info 'Running sudo chezmoi --source "${XDG_DATA_HOME:-$HOME/.local/share}/chezmoi/system" --destination / apply'
sudo chezmoi --source "${XDG_DATA_HOME:-$HOME/.local/share}/chezmoi/system" --destination / apply
gum log -sl info 'Finished applying system configuration files'
