#!/usr/bin/env bash
# @file Software Installation
# @brief Installs the list of software that correlates to the software group that was chosen.
# @description
#     This script initializes the installation process that handles the bulk of the software package installations.

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

if command -v installx > /dev/null; then
  if command -v zx > /dev/null; then
    if command -v unbuffer > /dev/null; then
      logg info 'Running unbuffer installx'
      unbuffer installx --all
    else
      logg info 'Running installx'
      installx --all
    fi
  else
    logg error 'zx is not available'
  fi
else
  logg error 'installx is not in the PATH. It should be located in ~/.local/bin.'
fi
