{{- if eq .host.distro.family "linux" -}}
#!/usr/bin/env bash

# timeshift.json hash: {{ include (joinPath .chezmoi.homeDir ".config" "timeshift" "timeshift.json") | sha256sum }}

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

if command -v timeshift > /dev/null; then
    logg info 'Ensuring /etc/timeshift is a directory'
    sudo mkdir -p /etc/timeshift
    
    TIMESHIFT_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/timeshift/timeshift.json"
    logg info "Copying $TIMESHIFT_CONFIG to /etc/timeshift/timeshift.json"
    sudo cp -f "$TIMESHIFT_CONFIG" /etc/timeshift/timeshift.json
else
    logg info 'The `timeshift` executable is not available'
fi

{{ end -}}
