{{- if and (ne .host.distro.family "windows") (ne .host.work true) -}}
#!/usr/bin/env bash

# tor config hash: {{ include (joinPath .host.home ".config" "tor" "torrc") | sha256sum }}

{{ includeTemplate "universal/profile" }}
{{ includeTemplate "universal/logg" }}

### Apply system variables
if [ -d /Applications ] && [ -d /System ]; then
    # macOS
    TORRC_CONFIG_DIR=/usr/local/etc/tor
else
    # Linux
    TORRC_CONFIG_DIR=/etc/tor
fi
TORRC_CONFIG="$TORRC_CONFIG_DIR/torrc"

### Configure Tor
if command -v toron > /dev/null; then
    if [ -d  "$TORRC_CONFIG_DIR" ]; then
        # Copy config
        sudo cp -f "${XDG_CONFIG_HOME:-$HOME/.config}/tor/torrc" "$TORRC_CONFIG"
        sudo chmod 600 "$TORRC_CONFIG"

        # Restart / enable Tor
        if [ -d /Applications ] && [ -d /System ]; then
            # macOS
            brew services restart tor
        else
            if [[ ! "$(grep Microsoft /proc/version)" ]]; then
                # Linux
                sudo systemctl enable tor
                sudo systemlctl restart tor
            else
                logg info 'Environment is WSL so the Tor systemd service will not be enabled / restarted'
            fi
        fi
    else
        logg warn 'The '"$TORRC_CONFIG_DIR"' directory is missing'
    fi
else
    logg warn '`toron` is missing from the PATH'
fi

{{ end -}}
