[Unit]
Description=RClone S3 (Private)
After=network-online.target

[Service]
Type=simple
User=rclone
ExecStart=/usr/local/bin/rclone-mount "volume" "root" "Private"
ExecStop=/bin/fusermount -u "/mnt/Private"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
