[Unit]
Description=rclone S3 user service ({{ .user.username }})
After=network-online.target

[Service]
Type=simple
User={{ .user.username }}
ExecStartPre=/usr/bin/mkdir -p "/home/{{ .user.username }}/Cloud/User"
ExecStart=/usr/local/bin/rclone-mount "user" "{{ .user.username }}" "User"
ExecStop=/bin/fusermount -u "/home/{{ .user.username }}/Cloud/User"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
