---
version: "3"

services:
  wireguard:
    container_name: WireGuard
    image: linuxserver/wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - ./config/wireguard:/config
    ports:
      - 26671:6767
      - 26673:9117
      - 26674:8080
      - 26675:9777/udp
      - 26676:8686
      - 26678:6789
      - 26679:3579
      - 26680:81
      - 26681:7878
      - 26682:8989
      - 26683:8181
      - 26684:9091
      - 26685:51413
      - 26686:51413/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped

  bazarr:
    container_name: Bazarr
    image: linuxserver/bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    network_mode: "service:wireguard"
    restart: unless-stopped
    volumes:
      - ./config/bazarr:/config
      - /mnt/movies:/movies
      - /mnt/tv:/tv

  heimdall:
    container_name: Heimdall
    image: linuxserver/heimdall
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    ports:
      - 29914:443
      - 29915:80
    restart: unless-stopped
    volumes:
      - ./config/heimdall:/config

  jackett:
    container_name: Jackett
    image: linuxserver/jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    network_mode: "service:wireguard"
    restart: unless-stopped
    volumes:
      - ./config/jackett:/config
      - /mnt/auxilary/Downloads:/downloads

  kodi-headless:
    container_name: Kodi-Headless
    image: linuxserver/kodi-headless
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    network_mode: service:wireguard
    restart: unless-stopped

  lidarr:
    container_name: Lidarr
    image: linuxserver/lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - UMASK_SET=022
    network_mode: "service:wireguard"
    restart: unless-stopped
    volumes:
      - ./config/lidarr:/config
      - /mnt/auxilary/Music:/music
      - /mnt/auxilary/Downloads:/downloads

  nzbget:
    container_name: NZBGet
    image: linuxserver/nzbget
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    network_mode: "service:wireguard"
    restart: unless-stopped
    volumes:
      - ./config/nzbget:/config
      - /mnt/auxilary/Downloads:/downloads

  ombi:
    container_name: Ombi
    image: linuxserver/ombi
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    network_mode: "service:wireguard"
    restart: unless-stopped
    volumes:
      - ./config/ombi:/config

  organizr:
    container_name: Organizr
    image: linuxserver/organizr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    network_mode: "service:wireguard"
    restart: unless-stopped
    volumes:
      - ./config/organizr:/config

  radarr:
    container_name: Radarr
    image: linuxserver/radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - UMASK_SET=022
    network_mode: "service:wireguard"
    restart: unless-stopped
    volumes:
      - ./config/radarr:/config
      - /mnt/movies:/movies
      - /mnt/auxilary/Downloads:/downloads

  sonarr:
    container_name: Sonarr
    image: linuxserver/sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - UMASK_SET=022
    network_mode: "service:wireguard"
    restart: unless-stopped
    volumes:
      - ./config/sonarr:/config
      - /mnt/tv:/tv
      - /mnt/auxilary/Downloads:/downloads

  tautulli:
    container_name: Tautulli
    image: linuxserver/tautulli
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    network_mode: "service:wireguard"
    restart: unless-stopped
    volumes:
      - ./config/tautulli:/config
      - ./logs/plex:/logs

  transmission:
    container_name: Transmission
    image: linuxserver/transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - USER=admin
      - PASS=password8388**
    network_mode: "service:wireguard"
    restart: unless-stopped
    volumes:
      - ./config/transmission:/config
      - /mnt/auxilary/Downloads:/downloads
      - ./torrents:/watch
