---
version: "3"
services:
  web:
    image: megabytelabs/instapy:latest
    container_name: InstaPy-megabytelabs
    environment:
      PYTHONUNBUFFERED: 0
      INSTAPY_USERNAME: username
      INSTAPY_PASSWORD: password
      INSTAPY_POD: website
      INSTAPY_WORKSPACE: /code/InstaPy
    volumes:
      - instapy-megabytelabs:/code

volumes:
  instapy-megabytelabs:
