{
    "client_id": "{{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "GOOGLE_DRIVE_CLIENT_ID")) }}{{- includeTemplate "secrets/GOOGLE_DRIVE_CLIENT_ID" | decrypt | trim -}}{{ else }}{{- env "GOOGLE_DRIVE_CLIENT_ID" -}}{{ end }}",
    "client_secret": "{{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "GOOGLE_DRIVE_CLIENT_SECRET")) }}{{- includeTemplate "secrets/GOOGLE_DRIVE_CLIENT_SECRET" | decrypt | trim -}}{{ else }}{{- env "GOOGLE_DRIVE_CLIENT_SECRET" -}}{{ end }}"
  }
