#!/usr/bin/env bash

{{ includeTemplate "universal/profile-bundle" }}
{{ includeTemplate "universal/logg-bundle" }}

### Set hostname (if redefined)
if command -v hostnamectl > /dev/null; then
  # Betelgeuse is the default hostname so only change when it is different
  if [ '{{ .host.hostname }}' != 'Betelgeuse' ]; then
    logg info "Setting hostname to {{ .host.hostname }}"
    sudo hostnamectl set-hostname {{ .host.hostname }}
  fi
fi

### Set timezone
if command -v timedatectl > /dev/null; then
  logg info 'Setting timezone to `{{ .user.timezone }}`'
  sudo timedatectl set-timezone {{ .user.timezone }}
fi

### Modify vm.max_map_count
if command -v sysctl > /dev/null; then
  logg info 'Increasing vm.max_map_count size to 262144'
  sudo sysctl -w vm.max_map_count=262144 > /dev/null
fi
