[org/gnome/deja-dup]
backend='google'
window-height=500
window-width=700
periodic-period=1
delete-after=90
tool='restic'
periodic=true
include-list=['$HOME']
exclude-list=['$TRASH', '$DOWNLOAD', '{{ .host.home }}/.local', '{{ .host.home }}/.VirtualBox', '{{ .host.home }}/.npm', '{{ .host.home }}/.cache']
prompt-check='2023-02-02T00:41:05.465309Z'
[org/gnome/deja-dup/google]
folder='Betelgeuse'
