[Unit]
Description=rclone S3 service (public)
After=network-online.target

[Service]
Type=simple
User=rclone
ExecStart=/usr/local/bin/rclone-mount "rclone" "rclone" "s3-public"
ExecStop=/bin/fusermount -u /mnt/s3-public
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
