---
services:
  kasm:
    image: lscr.io/linuxserver/kasm:latest
    container_name: Kasm
    privileged: true
    environment:
      KASM_PORT: 443
      DOCKER_HUB_USERNAME: USER
      DOCKER_HUB_PASSWORD: PASS
      DOCKER_MTU: 1500
    volumes:
      - /path/to/data:/opt
      - /path/to/profiles:/profiles #optional
      - /dev/input:/dev/input #optional
      - /run/udev/data:/run/udev/data #optional
    ports:
      - 3000:3000
      - 443:443
    restart: unless-stopped