{
  "keyFilePath": "{{ .host.home }}/.config/Google Assistant/client-secret.json",
  "savedTokensPath": "{{ .host.home }}/.config/Google Assistant/tokens.json",
  "forceNewConversation": false,
  "enableAudioOutput": true,
  "enableMicOnContinousConversation": true,
  "startAsMaximized": false,
  "windowFloatBehavior": "always-on-top",
  "launchAtStartup": true,
  "alwaysCloseToTray": true,
  "enablePingSound": true,
  "enableAutoScaling": true,
  "enableMicOnStartup": true,
  "hotkeyBehavior": "launch+mic",
  "language": "en-US",
  "theme": "dark"
}
