{{- if eq .host.distro.id "arch" }}
#!/usr/bin/env bash

{{- $packages := splitList " " (includeTemplate "universal/essential-packages" .) }}
{{- $pyenvDependencies := list
"base-devel"
"openssl"
"zlib"
"xz"
"tk"
}}
{{- if .toolchains.python }}
{{- $packages = concat $packages $pyenvDependencies -}}
{{- end }}

### Install base dependencies
sudo packan -Sy --noconfirm --needed {{ $packages | sortAlpha | uniq | join " " -}}

### Install yay
if ! command -v yay > /dev/null; then
  git clone https://aur.archlinux.org/yay.git /usr/local/src/yay
  cd /usr/local/src/yay
  makepkg -si
fi
{{- end -}}
