{{- if and (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "secrets" "tabby")) -}}
{{   includeTemplate "secrets/tabby" | decrypt -}}
{{ else if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "secrets" "tabby-fallback")) -}}
{{   includeTemplate "secrets/tabby-fallback" }}
{{- end -}}