#!/usr/bin/env bash

# universal/common-dependencies hash: {{ include (joinPath ".chezmoitemplates" "universal" "common-dependencies") | sha256sum }}
# fedora/common-dependencies hash: {{ include (joinPath ".chezmoitemplates" "fedora" "common-dependencies") | sha256sum }}

{{ includeTemplate "universal/logg" }}

{{- $packages := splitList " " (includeTemplate "universal/common-dependencies" .) -}}
{{- $additionalPackages := splitList " " (includeTemplate "fedora/common-dependencies" .) -}}
{{- $packages = concat $packages $additionalPackages -}}

### Print dependency list
logg 'Installing common dependencies using `dnf`'
logg info 'Dependencies: {{ $packages | sortAlpha | uniq | join " " -}}'

### Install packages if they are not already present
for PACKAGE in {{ $packages | sortAlpha | uniq | join " " -}}; do
    logg info 'Checking for presence of `'"$PACKAGE"'`'
    if rpm -qa | grep "$PACKAGE" > /dev/null; then
        logg info 'The '"$PACKAGE"' package is already installed'
    else
        logg info 'Installing `'"$PACKAGE"'`'
        sudo dnf install -y "$PACKAGE" || EXIT_CODE=$?
        if [ -n "$EXIT_CODE" ]; then
            logg error 'Error installing `'"$PACKAGE"'` via dnf'
            logg info 'Proceeding with installation..'
            unset EXIT_CODE
        fi
    fi
done
