#!/usr/bin/env bash

{{- includeTemplate "universal/logg" }}

{{- if (not .host.restricted) }}
logg 'Ensuring ZSH is set as the default shell'
if ! grep -qc "/usr/local/bin/zsh" /etc/shells; then
  echo "/usr/local/bin/zsh" | sudo tee -a /etc/shells > /dev/null
fi

{{- if eq .host.arch "arm64" }}
if [[ ! -e /usr/local/bin/zsh ]]; then
  sudo ln -sf /opt/homebrew/bin/zsh /usr/local/bin/zsh
fi
{{- end -}}
{{- end }}
