{{- if and (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "secrets" "ghorg")) -}}
{{   includeTemplate "secrets/ghorg" | decrypt -}}
{{ else if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "secrets" "ghorg-fallback")) -}}
{{   includeTemplate "secrets/ghorg-fallback" }}
{{- end -}}