{{- if and (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "files" "juicefs.pem")) -}}
{{   includeTemplate "files/juicefs.pem" | decrypt -}}
{{- end -}}