[Unit]
Description=rclone r2 user service ({{ .user.username }})
After=network-online.target

[Service]
Type=simple
User={{ .user.username }}
ExecStartPre=/usr/bin/mkdir /home/{{ .user.username }}/.local/mnt/r2
ExecStart=/usr/local/bin/rclone-mount "user" "{{ .user.username }}" "r2"
ExecStop=/bin/fusermount -u /home/{{ .user.username }}/.local/mnt/r2
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
