{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- if $codespaces | not }}
{{-   $email := promptStringOnce . "email" "Primary e-mail address" -}}
{{-   $name := promptStringOnce . "name" "Full name" -}}
{{-   $gmailAddress := promptStringOnce "Gmail address" -}}
{{-   $gmailAddressAppPassword := promptStringOnce "Gmail app password" -}}
{{- end }}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    codespaces = {{ $codespaces }}
    headless = {{ $headless }}
{{- if $codespaces }}
    email = "help@megabyte.space"
    gmailAddress = ""
    gmailAddressAppPassword = ""
    name = "Megabyte Labs"
{{- else }}
    email = {{ $email | quote }}
    gmailAddress = {{ $gmailAddress | quote }}
    gmailAddressAppPassword = {{ $gmailAddressAppPassword | quote }}
    name = {{ $name | quote }}
{{- end }}

[diff]
    format = "git"
    pager = "delta"

[git]
    autoCommit = true
    autoPush = true
