{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- if $codespaces | not }}
{{-   $email := promptStringOnce . "email" "Primary e-mail address" -}}
{{-   $name := promptStringOnce . "name" "Full name" -}}
{{-   $gmailAddress := promptStringOnce "Gmail address" -}}
{{-   $gmailAddressAppPassword := promptStringOnce "Gmail app password" -}}
{{-   $ngrokAuthToken := promptStringOnce "Ngrok authentication token" -}}
{{-   $slackApiToken := promptStringOnce "Slack API token" -}}
{{- end }}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    codespaces = {{ $codespaces }}
    headless = {{ $headless }}
{{- if $codespaces }}
    email = "help@megabyte.space"
    gmailAddress = ""
    gmailAddressAppPassword = ""
    name = "Megabyte Labs"
{{- else }}
    email = {{ $email | quote }}
    gmailAddress = {{ $gmailAddress | quote }}
    gmailAddressAppPassword = {{ $gmailAddressAppPassword | quote }}
    name = {{ $name | quote }}
    GITHUB_TOKEN = {{ $githubToken | quote }}
    GITLAB_TOKEN = {{ $gitlabToken | quote }}
    NGROK_AUTH_TOKEN = {{ $ngrokAuthToken | quote }}
    SLACK_API_TOKEN = {{ $slackApiToken | quote }}
    TABBY_SYNC_TOKEN = "196a3118cc7be31cd13d2862d7e33c122357fd9fa36c2f149e8b018b82c260ab6b72169f4c411a6bedd2b8b4124c3540daa57778f20a28cfe2c797776f9a616c"
{{- end }}

[diff]
    format = "git"
    pager = "delta"

[git]
    autoCommit = true
    autoPush = true
