---
all:
  children:
    raspberry:
      hosts:
        raspi:
          ansible_host: '{{ domains[inventory_hostname | lower].hostname }}'
          ansible_port: '{{ ssh_port }}'
          ansible_password: '{{ admin_password }}'
          ansible_user: '{{ admin_username }}'
          ansible_sudo_pass: '{{ admin_password }}'
