{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA0TUptK3J0dHZNb1JMVDdH
TEE4RjZZLzRLRXNrQStQUFh5akRqUUsrV2dZCjZNRFBaV0I3ekZ4Z29ibGZ3U2s4
ekxvbDRPQnpXM1NZUDdLNk43dmxsanMKLS0tIE9FcHQydUFEZm9lbDY5SlpDbk43
ZEQ4UUY4QXFpNW9zOW1rMmlmWHhWblkKtvrU7BsBM1uojmcY62z+EuQPsyB/ycZN
nsW7E0QNbf+eQxT8UE4k5sUeE+JqHCSZQNhA2z9iBzbZnmoOvMi0eWN3fkmuLu2g
ThrLsMmbFpfHfGVMjurxj7iJOmf61P71ybBfbNgvujm4POLgLvKwh0Kd6+9/OidO
WYL4nprt3Sh/setJ7mllYs6Rd7sFWSRF/QNhvkyOFGWPQX3NJm3IcuHpI5OxH+K3
8126uxphWxo16MZZkkv04Jdy/15hnokncSqPgI2Td0zCfAnOT+p0SaWB7QjsU98t
WMitv0vVaIxQxYn/U3g5PCAY3TWEyyK6WKKv5Jy+4NmjADe6n+Ms2FYrT/dYDs2q
pNL1OV508LxKJDW6p8HcMtiM+wCvta+iIS5L17KMLs5YxEE=
-----END AGE ENCRYPTED FILE-----
{{- end -}}
