{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBtaGRaTFA4RmY0UVl4YkIz
NmpRMUZWRE0zNS9pTW84VXpNekF5ZnVycUhFCnNzRDQ2aHN2cnBVazZpTFVUS1Q0
OHZ2R3gxblJTL1BURWNKQUNGeG9jY28KLS0tIGdFc0Vpay9mcUxRTjYwWWdFME40
MW1SMENZaU5XMFd0VFJHenlwa250cGMKzE5i0SjXhO+pzUGfr2DgHCfLy6QUktFF
YY78LqbY1TLwsjEru6cHG0Op/7E3QNhMJap6xy6+07hqUuUaqvOz65IW4OV6KmXa
uSGpYNn97ne4X+/KHdgJuOqIKnXfuWGs3gQUYUCuwmHFJihr3xM08bX34YY8t58k
5Gz2Huwie+trk/+DFXsIXz3+TMSbs+xAFjlN0b/IP3FTrlwnf6zDLXahDC3k4nZJ
bR5wTqAEgo6USXXA//uincJRUIzGgsJT4aL3ymLEMZw+1LRYgBU6Q9F7xSE0p0s/
7xDS9qC/6XBTMkKVg85qh6yet48li9ZrGZXpQiNO4h3zgLVkGlN/cKEsnt46z2ke
fGZWQKB5xQdoO3CV84wbu1v52cBiwLEmqNM6xRvBrvImBy4ArRHpmOfecXgYykmu
0KG/gRamdGxbhYk/nvsNaTPrvr7+DfA1p9xRwJzmB0W3i0j4OaP2M4rwYu/GvR3K
OA==
-----END AGE ENCRYPTED FILE-----
{{- end -}}
