{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBwbDQ3UDRmSzNUdkljbXU1
V2lXRUV4YU9jcHRKL2R0Q05NYU5xYy8xaWpRCmFuTDloSjd2MkUwL0ZsRGtPNVo1
UVY5TmhGSVpBS1FWV0VNOUk3cHpuTFkKLS0tIHlIdXg4aVZ6bDFGOG9vTW9pakh6
c1laei9JTFZmYlhOTFZyYXM3d3BPK28KM7Ouz80U6TLx1Xjauor+N7Y8XEKIZUS9
dqfaona3bjsnLrQ+2l861I3q9lmCfsY57wTQxXVQmjI+Ydnm4ZelmHnUJdo7Tbdc
EJGJW2x3DRXcx+f2S5sZWxDR+6V807KgPCRe5vLGfyTU3J6uL1rfu41oUydoZaab
VEckaqVHQeja7BMpMQVkYBKY5558o3Ggv36nWirxr+JfMGEOlbExs6Kd61qWU2H1
/z5kv0AKpmlO/m2oMYKILWVVo6A3uH1DZJj3X4+rZ+36QbZ1y4ZMXVZI8rxR8p+o
fTGgeuWPkKnK21YMy4vq5ySv9GqRPx11/XjhbZkSaLrJB9lR5o0BYlR607QdLHVx
f3rPITm5ZoklRjPZ7LnGfQaaoLwwYUYUW9YU4SfykTNxKap0XADsAtwO/DsdRL3c
xSkUlCaadi9csisKCjb/AhQSKc/sDTRNlKF28CFUqorcgw8K6Qi79tYgxBuN0V/Z
UmQr
-----END AGE ENCRYPTED FILE-----
{{- end -}}
