# Prevents modifications to CI configurations
.config/taskfiles/ @ProfessorManhattan
.github/ @ProfessorManhattan
.gitlab-ci.yml @ProfessorManhattan
.gitlab/ @ProfessorManhattan
.travis.yml @ProfessorManhattan
start.sh @ProfessorManhattan
