---
{{ if eq .host.distro.id "darwin" }}
backends:
  - darwin
  - matrix
  - notifico
  - slack
  - systemlog
{{ else if eq .host.distro.family "linux" }}
backends:
  - linux
  - matrix
  - notifico
  - slack
  - systemlog
{{ else if eq .host.distro.family "windows" }}
backends:
  - matrix
  - notifico
  - slack
  - win32
{{ end }}

darwin:
linux:
  icon: /usr/local/etc/branding/logo-color-256x256.png
  # low, normal, critical
  urgency: normal
  transient: true
  soundfile: /usr/local/share/sounds/notification-2.mp3
  # 1 - system default, 0 - never expire
  timeout: 0
matrix:
  url: {{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "MATRIX_HOMESERVER")) }}{{- includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/MATRIX_HOMESERVER") | decrypt | trim -}}{{ else }}{{- env "MATRIX_HOMESERVER" -}}{{ end }}
  roomId: {{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "MATRIX_ROOM_ID")) }}{{- includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/MATRIX_ROOM_ID") | decrypt | trim -}}{{ else }}{{- env "MATRIX_ROOM_ID" -}}{{ end }}
  userId: {{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "MATRIX_USERNAME")) }}{{- includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/MATRIX_USERNAME") | decrypt | trim -}}{{ else }}{{- env "MATRIX_USERNAME" -}}{{ end }}
  password: {{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "MATRIX_PASSWORD")) }}{{- includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/MATRIX_PASSWORD") | decrypt | trim -}}{{ else }}{{- env "MATRIX_PASSWORD" -}}{{ end }}
notifico:
  webhook: {{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "NOTIFICO_WEBHOOK_URL")) }}{{- includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/NOTIFICO_WEBHOOK_URL") | decrypt | trim -}}{{ else }}{{- env "NOTIFICO_WEBHOOK_URL" -}}{{ end }}
prowl:
  api_key: {{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "PROWL_API_KEY")) }}{{- includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/PROWL_API_KEY") | decrypt | trim -}}{{ else }}{{- env "PROWL_API_KEY" -}}{{ end }}
  provider_key: {{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "PROWL_PROVIDER_KEY")) }}{{- includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/PROWL_PROVIDER_KEY") | decrypt | trim -}}{{ else }}{{- env "PROWL_PROVIDER_KEY" -}}{{ end }}
  priority: normal
  url: {{ .host.domain }}
pushbullet:
  access_token: {{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "PUSHBULLET_ACCESS_TOKEN")) }}{{- includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/PUSHBULLET_ACCESS_TOKEN") | decrypt | trim -}}{{ else }}{{- env "PUSHBULLET_ACCESS_TOKEN" -}}{{ end }}
  email: {{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "PUSHBULLET_EMAIL")) }}{{- includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/PUSHBULLET_EMAIL") | decrypt | trim -}}{{ else }}{{- env "PUSHBULLET_EMAIL" -}}{{ end }}
slack:
  token: {{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "SLACK_BOT_USER_OAUTH_TOKEN")) }}{{- includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/SLACK_BOT_USER_OAUTH_TOKEN") | decrypt | trim -}}{{ else }}{{- env "SLACK_BOT_USER_OAUTH_TOKEN" -}}{{ end }}
  recipient: "#alerts"
systemlog:
  prio: ALERT
  facility: LOCAL5
  fmt: "[{title}] {message}"
termux:
win32:
