{{- if and (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" "files" "apprise-custom")) -}}
{{-   includeTemplate "files/apprise-custom" | decrypt -}}
{{- end -}}
