---
### Directory path to save logs from standard output
logDir: /var/log/dagu

### History retention days (default: 30)
histRetentionDays: 30

### Email notification settings
mailOn:
  failure: true
  success: false

### SMTP server settings
smtp:
  host: {{ .host.smtp.host }}
  port: {{ .host.smtp.port }}
  username: {{ .host.smtp.user }}
  password: "{{ if (stat (joinPath .chezmoi.sourceDir ".chezmoitemplates" (printf "%s%s" "secrets-" .chezmoi.hostname) "SENDGRID_API_KEY")) }}{{ includeTemplate (printf "%s%s" (printf "%s%s" "secrets-" .chezmoi.hostname) "/SENDGRID_API_KEY") | decrypt | trim }}{{ else }}{{ env "SENDGRID_API_KEY" }}{{ end }}"

### Error mail configuration
errorMail:
  from: "{{ .host.smtp.from }}"
  to: "{{ .user.email }}"
  prefix: "[Error]"
  attachLogs: true

### Info mail configuration
infoMail:
  from: "{{ .host.smtp.from }}"
  to: "{{ .user.email }}"
  prefix: "[Info]"
  attachLogs: true
