#!/usr/bin/env bash

{{- includeTemplate "universal/profile" }}
{{- includeTemplate "universal/logg" }}

if [ -d "$HOME/.local/src/shared-common" ]; then
  logg 'Ensuring Taskfiles are linked properly'
  cp "$HOME/.local/shared-common/Taskfile.yml" "$HOME/.local/Taskfile.yml"
  ln -s "$HOME/.local/taskfiles" "$HOME/.local/src/shared-common/common/.config/taskfiles"
fi
