#!/usr/bin/env sh
{{- if false }}

# {{ output "sha256sum" (joinPath .chezmoi.sourceDir "private_dot_config/crontab/config")  }}

# Required for PATHs (including logging)
source "$HOME/.config/shell/exports"

logg 'Installing crontab jobs'
crontab < "$XDG_CONFIG_HOME/crontab/config"
{{- end }}
# TODO
