{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4TVMrdEtiVVhzRk1tNFBZ
T3BQakpsalY2ekZLbFJqbmR4Y2U1YnJXNG5VCmw1VndzemI5Y0s0UnQ0aWJYYS9v
TjRXcWwwSjJYYTFYSXBhcGtSUUpVc2sKLS0tIDBqMnhESGpXbjM5TVJNREt2K1B3
QXdUeGFreW84T1A4ZzRSN3k3ck9SYTAK2/X66L3WIA47/M79ZYZan3rb3yVCiqed
5mh3TDqtuNmMg+SJRCmbf3tIR/OoHIieb+k/06I9aoixfDPpi7lkLexpOEX+jHUy
+gVlvG5aOlZWE84o2q1uQ/HBDnWUjWyB8JCcLLM+aDdcCnryn5qWbUE44iTPV58v
PnISmkqraWjCU7s6EZ3zKZBs6FU9U3rIVi9sgon8H5Z6ve6M+Q1E3fMBj73CEROk
cYFdziIo+zsmvebsYJ52N24f0JVkp2KBZkTGGqdQj7qKKjxCLm9n4ze9yg0c8vL5
oOJFGR5zVuAixYjaIJwT3wLNzK0WAIgGybP81Bii0sRq2Gqi7pwpMHAOPlPlE4c/
M3ad9D3N8rnFliI0uncSLa8VCAqV/3K+ThSEEMzjvR+XgGNa767JAzj2GA/3yaXf
lYZd76+lQLGK/WAo+iW1Sc0QdbfyJ5q2A4v1vb4Pw5GLUDuQHpg2jYFJk3oUcuRR
D0n9turPEmAtfxaX3zeIIAWMHi827/OkQCNCq5S7XL8W+2Wqs07yHMz2vGK+rKe2
qBu6otIw/NVJR9C6eGqD5yNXpFpaG1yFavWkBllVaBuVPCbRK1ztT5qz9jDBy1qg
5oGf0V6gt5RJdnQ+7Wu/Qi5hatM+lyQTK2RtyId3tb1RqA8veoi2HF8V+/by9Kfu
8+0Lii+8Vx9PBA5F2+kWmQJ2P3t5qoSTS00zyVsDQ4afBpVJbW05EJYHDaVY5onZ
HUbgzq+h7zFinyr3Uw==
-----END AGE ENCRYPTED FILE-----
{{- end -}}
