{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAzZllFQk9qemI4NkNoMWRy
UzYyZzRidVdBZmg1UDU4c3Urb3JxMm5CWVhJClc0OFBLNk5xZ2NjbFNyN1RPMjJW
UW1hMXRINHFOV2JKWXc2bVB2NlhjVmsKLS0tIFFackhkYVJFTE1zTmcvRldvZU5D
NVphZWlNQWlGcnFyN0Q2aklNNTlIa00KD0VyAFmJux/qAED0uHkSCBaRC4tQvl0s
T0pvJRC2gchLcMM9AIf1/My+4iHMReV++DnU7w15Esgb3sjSvzfY1jZqaUqOoTCc
reYnaICakANBbE/WjFuLlddcnqPvmpnM/DXvityhBUaEcPW3D8A8451SPf3hCjn0
xPn3qroR88nYA1PfPiFEw69MjAGVtAwn/6MZQxMEcx890C5vW+TVDQBfkwsSgmOM
viZJEJOGt0rnNyxCOyOp/aVlDh1S28pXE01tvH4/f/+og2StN2sJfVXdhJ8yWKkF
06AQRlnZ26bPp+aZsGRwPLLSZAafi7XwmbKXkNEtG9m8C3b82Fum6Lga9+qx1Udx
SImRVVqBl55+L2bZD6lflsC5xBji1wi9a4MynzYwjdpGM+UBYmhrOk2UpEk1Uew1
h/epBELKI+xdblyjTELHRDf9Vnx8QGDs14PQ7bvyU62cJTl8XoXfy7j0xqdbXQ8r
f2M4b0e9+WTaGC1yj6yUOe+Gdw7u2vgEZp0IPeObpgEk/rJOTkQ2GQn6hvkCnQsk
u8yBioqbdV7ogJ2UYxWwuptkw7eq/1/E9re1kLzqBQiY80DGcGiKi3BQ6RT6ajC+
WmlsEtgpRhY+wXaENlHqwJokMwVYqj8hvdjzUCQwRcEUMAcQrSz4ga9IdBXQbqNI
WYBW8GZXybhfF63L0ImCmhD/GLZLK+/V+tC+QIp2whq0C+p57b24lfZ1Py7cT38F
0CjSt0Ek4Vr9cnJgiK+0Ytt2DC9r69wb/JVN79KHtuw2BV0p+miwPgQ44wg+JzEp
RQP7QKIimGFsW/1gjnHs9vbbDqG25avQBfN7sDx+FbgBusV6Y87aZuONjqnKL8mY
ZCU32x9wKxejUfgq3RKXaMs87xHYO6qW3Tm/l2uVBEYuBQc6PS/Fta56hKEkEI8N
F4LXdp0aTahYB304Bm8tOXrEuieUm5NIfmnAXHZL9V9rTApi+LivIO9NZJ4MjuAD
NMD6gU+0/TpZzWEhLM2Z69tQdbKIdScD9b8ceFX7YUvva8QCVPauYIdfXxoh7yJb
g3JDEO2n/wPNjPtziEcK3sctjA0hjFniM8IpXEAaU6H591sqen9PP/ggRzDM3FeW
3Fkwdyd7BG13FPiwB0yN9AhKFAxqfzeDhY2W3tR02NO0m+CRFFa7EubMt1c0bz1d
5OcVPIqzznvuvnKWm/cqtXtu95p3aHa/4FGjKBA+16Y1iVEws7aL15rXxl8aIpLJ
t0gXwc8+jCxnFxFUcd3Y9fEKZaOvNJuslglEQW0lEIEe9JX1wAY7XNfMpa0AOTif
Yo3d0+VgcYgF6TCDPPm94On4uezW6hXHbbC0JBW3Ks0A8jBArXmjGb1b3mnQOoXY
lfDOKEH6MGxJQyM12dPiRxbLszmS5azMtGyK1C6G9FQkqOiTEg4HnIdFmQNqwDPW
yRm6JaEj671ebTPcQ3IsEwsJRvbatYJUZIJrc2H7tEok0aWByBZdWiOOzYQBMIkW
ihT9YbwvIk5RH0/UPls+GXRpc5Ry/zGsNGXQgCnlzoK7Zoo8O2Uoqa8oo15RWViO
BPcoQyKkRdIb32JMDxu5X8QSqlmaPd0Oq/OY57tnUFwUnyfSTQlfd9L5vv4nSUhL
OhBNk7Gl/Ay31O0bqq1JR7a9JLqt94PKiQwKCQ12OoroLIGTmuXbxyPJeASylpv3
diOaSCa8p16jhWbAvEhqQIVzXZo2bAI7zAVJQgehPED7Tzc/PqfA0wspBbARhqIf
0TVkYU2Ce34fdrBPzkkE6aXrMl6tlz0e0jN2p8iOAivLK8Ugi4Nr5MxmpruL0A0b
SOj5OZ1gGglVI2Baua8XsedTJOokPBup9ol1nEF6m1P2JvwU42ltvkh3XzOBKcW/
KEUfIGWu+nj6vVvd6iixhm2HyO5dVobMugrg2rbRo2Hht1Kwj6HzVzKH5SsNH/ME
kUW8mz9H02BXGcGUUB46ag5De2sB10p9tu0pKRH/lfHw0txSusO18T6hWqnU8ION
AFCpQgYVoGMhhL19sxGN8Q6iUs/WrXZuuAaoUGpiX0pnJTEtw6JLOlIvq03BCqPW
wJyTMEonRnl5FpvMBWreumm/fuS4rTOgX+u4r6tgwhjIXBk8jN4J1BRNSQsdlLjm
XvdZBFSSSZ8/g9wHdxhTx+gBD3/rpVfLdDrV+lqLicWwAh/O5zwzINtRSbtnxSPT
VWyPy+pISs7wM75f6wdeHHhfvAZnriGzN10iAgKByAz9Kmh5nhAx+dcNDrDaep+r
5UCgvIXUOj0H2wpYCUyGO+sKE5FdIPH63EqZotYmtTgV98HdWedMeHWeGgcdrvue
EB6fNFRoU0Af7tqGI96kRgjYsEmvFfFIYzLluTQRiFrjhla/wlovsVzhPgzpvxeb
Od+zdcbbL4ADWC+41YuM2hjAcpyg/Lwz7ydiiTgQdwz6x4pDtHxJoQ3zGBJzQ/sS
JCi7JGb5Chm+gOZPZYSf+XBGzBn7rGGMqw0Nx/eYMzDfGy3ZtnvWaZrwaRTHtEdL
4/GSdGdeHPhoDi5G6C114c9MncvpgELxOYzSPYi4nyGga5wHHbLaSMXxlFf6YXz3
EpD+qLtPcu7Zz0rVcBL5xXB9aoU1I8xbAfLRcTCcOd+AxVaEkZs/JYsNwgBUdZyq
vuOS9swDBUD4sgSQwBhgvqH4J67MNAlsOkxmO4wMG8Bu0RsXVZUfuDwJPzeZDxrl
hIRj9B9I0hBZ835Oso3lNTKLV3N5Wp5ZUXweL6q8ukUNb9jvDiYR8e6YEhiMklWC
EoF26C7VqDIiurgWQ9NO5vXWDaKSnVpXFnF4vn53vikHUVokLHxOP7YadoQrj7af
R3rfNxMtDXhJPAzgn8oM6hg7Gi4viGEB67EiDmGTj6Jcv7BD4GK38Iy8TNAaIfz0
BoUpLnhNOPbX7PXTVhoF+fWvlHigg7fr7lVbeLxxSnDinD7DdmSd8VOLhIICfbXM
1FRntgCTOSwhC5A6Tg2Cs0jssrKq20uHRfuFM/IHusv7n/Z82beK+2XT4nKra3jb
Y/qXIIenEBcGzV17Zr6PukpnNaTF4waGr96qJYkbvw0hgndq1DPVYdgHB2T+D5O5
v46wGmsDY81PRaWhrLOn0jr//vslHukcetnjUBCXmpR/PEnaFWMyzSetWlp4tnhw
MvHb/TwJvWUhuQPkkL/VEWxfe67jgUkwkpxNH9biM4rHZ07/8HscvNoB3hCjX++4
IKZBLZ/6ZMMs/i5Qzl1EzxB+HXW8c6giD4Hsrwwdvh6JPVYRshaASUfeEvtbSfLx
tJCLhM/3if50aOtn7sLvdgc+umkQLoSNSrlZa5A/q7RvsZN/IHxv8M2p1OqXSOFZ
xmuNrjuklB9k1CSNdE7PwfoOhO1komWC36EqB+YC2S5CwhKn7bn575vc+oG4BasA
MSIXze9fNGwrFR6+j0JP9hhRKAMA0thwyWFw19drSMawYAt5kAwGxLuqw/2J7XtS
u6QS1JiW8HOVFIQxU2EPXbjoVB8yHuetz26lTI+TGNHha/J9hfxBvCaH4lzNPjPA
jxwtI6fHjPc1yQ96vetCiyyafN3Gd/RHpoKXMljC0bjsGfUGwf1xXeVxjH6SmgXD
gFRTkTw9DVT3dP6TdZrUS5ViAXEjJ7E6xyqxfnA0sCUJfWuvpVFUSHGI5ySmEDcE
OlJDGFFqqOVsBjhHNmLosjmwzw3SFOoP+3zpbcj/nbZR5XAE2cTJ2/QS3nF0JQFP
XqHw4QXVhYkxWFCxmrYDtPZI+D3y0CQXDgugccfyOcA4djC4jdAFGlz3S5VPD1MK
wbKzDNGPc2UdxxA68YnfNoTyhe+3KNnAN9ZdOHclwmSv4qM4YAaivbPtp1HY9qlU
6vDaNeVGENt4LNHS3fY7YSpiFCFUgauf1yAi6TSoxQeM72ePyRj+H56fBf/5sPNl
LneuO0C56wmkQK9IAdtItXtlzlm+3v+WhSI0eGpmO2LlLHTTqOxBMBJ1nb/TEMbZ
kyFrLRMEbOq/r7wVOh3xAfUJx+CmXdinn0y2jeI28oBSi8IGO/ZNTz6fjtMzcUhG
CBggk13R7HQJTtp0PonY+QnwHFCACoNd3Ra7ZsyrOM17Z9JcqVaUwbSAYKr8ZnHs
8Auojn8/rLyBOUKM4D6Ul+e59ZJfAQC5BVIJsuyIDa7FaOMFN50iIcvB8uQddFwh
/FNhHDZbOPxqbqwJa5PXvHseaEqzJT+5oMWqYzQcVUDRw2z9XXL3tTRc83oMuUxQ
nx3Ckm+yhG+2PWPI2cJS3rq6GhQeQyfGLIPXI4guD5maV7JvhC7iHPheHWqFvgUF
Gjl1tIwALjOE/Ir50mnjIYNqrPDORzDg27bR4o1HczSqJn57EHPJWZfGfxzQqR1/
BM/MN7Rdr8Lv5QCYTSWZJtaeCKYacWzmV0cbyZjokqQ+l9GTZbr2FBKoMiZXhzCl
9oWW1l1W+K1s1oZ2UmJJlAtR5mVW/C/HiYnkT0lsO9/rgocEkeBuE/IOMwc2Xa2z
Osrtdj61RZE1o/wKDsaBqUfBLaV5c+xvd5XBLLmrZPAt53kuN79CdhShmjqqJdKG
PSEgGUpUPohmh3C1OGdkiz9H3rkrAckra/l9NDwZAYCmAA55IH+ZisM60EDAOoGK
yTOrZOwsACBX0FnSJqb9ZRRNqLq/1Hl4P31twPZVUmRr4zkVQ5Xao4DF7Rgo95+p
FRVd8lxtf06/tiihpBtAzJcaOXKR0sPf+Xm1MCuaoOkH98JqJ/h5zGQr0hGfS1yB
VOV4Sb22Caie+7K+ngei+Osz9VNPMucMU6LCNZg6vbgyrLHc1JET2QMP7GgnXy8K
FT37G5hU5r/dSmMXnWU4m5hl30fiqA7/+lF7wV2WCF98zi9Koknn2hnjNgUkf6Dv
jEBnUsLtMWj2stqBqlJJ1lAB0mwNHdimWS33rJ26RQaIbajOm6EXCd/oTcZ2kZ0m
y3ZZcXYo85G1ihnUgLSOooS+V9U2Mpjj7EqxTREI8y7tEUivcb8X6KpkGCTst+qy
JANMrp76XHeBclrnmARpeBZvDx8h7lyztqRUi5AVYxez88ESxd6xypXQvQcXypTm
fg5FZiu6+QMrVq7V8VCQrW8sSOz2RyRlNbEAffiClfxHBrSlU1DGPFybsM4Q6G1Y
BAPvXyYdYOfg692mPww7ysqLHEH2dyr5wuUsZXq3z/O/Ht155XTtLNmD3PdD8tL8
lOayO4MkfCABAzMLihIyI0FvIWzkqJNMkGdn7QvzLQFtIhceKqiaT97gVZSjPFmF
77HU6AxqHlK5roCwfMQ5srBG9gN5iH9apOVgEzMNp+YIOyZ6hcr3w7ITVWuRQtWC
dDrKsLm7V7PTB1TvW45VHn9nwTxA5vF+t/DHHt+jraJxQnW+fGGr56Z5gcOVEqQT
Zh47PE1v/rAlWHkXqmXw/X7QomYIHWkn0yDrP8ytAUaGyosnQEvnmML4Wjc2Uvt2
t+fdkNjp8iq/y1Qwwi3rP3BBcVftfDTMRZOmlGOqJGqq7p3ugZQO20UN1iwbhmwq
1ALR1K77RrH7gt0+FmFGL1DoUDeXlTqWBpl0CMjYYF7KnvwfRUmsG0mHsTdPdu9F
GoWR0XfiRLAsba4T7hIpNnqbMvwTk0+nrTESLVQq1MIHHhBHx3cBT6yY05y9mEx8
X9nYZowhVWSBMUu9jSOkfUiRjT1t6V33YzlgJPg3jW5kf9TiKugdoX91PM/TrP8e
xO8FuP4uJoyI1Pz11jrwO/WWNy08G81pad7Bnn82EGm9alhXhGsTDIL9MRaXyscZ
XgLUHWa7OkGgifsnxEpv3EzB3fI/S4dZrTxgoPXDGqmcrbHXo1YzIADXETNRDsuS
q25ClaQIkB1stJi/XKF3CjgVICdSOGws1IUYTJd+DuLamx2GiIlRDLq5PxWSryuR
skNMBwTUi8E8AoLxOMRw042cjuoF8i5kqxgBp/WjKJ4kp22Xp3mZr5R9mWgow+qt
VzDNw1RTdM65nuT2Rt9Kz0iN4JyV6Qtu3rk8VZL4q6ocgoU4mvrDHLx8f2YjH4gW
Jz1N15hSRZvPIUBcvJSRl5lAA4O4ptYaTlC+zKbJf4SWnUBTLDseNVkg1hmCu11K
j2ykyYArSn4EOs9GmY8yKxe8tENtMF9YCZOMomYahiSBVcGUn0DOisBx1IN3wcJw
uRmD83TJmcoCyH7iyUV8PIdKvqpEfakLMHpI2BHNCbVYkhBsdhrDDjL09CMuTZM/
3FJaoD0FK5lpaIcUFTwFaNY/4jlERBl9rO9XW/Ko/N7gwxSYueSuB43Y+/gE15WS
HkEyrJ8iq8xWGQr5n7vriClGiif34mLdQN9pCruhtkD1QOU2vpZjhBJ7Z3XcoMiG
lxtUMKrdaHJS3J0A91ACKtJQtUI37SMxh0kJMkoE4pH+tQMmRG+Jyo1kP3sbkLmL
EA1yhyVhuzksm4Zw2HZsu+S9/AQWBqtfrWpnSm0acqr0y+y8iOxTuS3/ip6GKWE/
0rAVAaYzr+ME4TIuawO9e/jvHegeFscZa83bp5j6+3LoyLfGuUnPzodfdUCBcfbl
Pb5kQj6mS/egCc7+/vObvdtnJMgQuR1wHG5seeQgfN/cNlxj9YZlH9gx6WilYrNX
apXe7DjSWF1zEB45A868zvUbwc+e6XasKLzYYyaCDSPu7Z4q7rz7QmX+vOiDzZA/
06TfG/M/CHZqiP0Ou3lBGrikobBzi0UPTOBVG2wql/9+Qwo49vgW/HAxZm4KCZuv
XrpVUiVllfr+8fKNVFkOGbZ97wRfEAAqgGGgLyZYfssF+SyCmuUe5nc09h6DZYQ2
NlzNQryk/Z8ESO1X+Xxe1YwTTm1YAQ1Qwvu5hHr0ZD4ANIp4sIArvGgjbrs2CoXP
F5E5QD1MtZvQpO5Mlc93JSIocnknSrD7nVmkolljluKrWDcnHqSJBvdbfWlYIkR8
QFMvsp7+MMdJ2+ZJ05aVTfgQPST7xZ0UXOBK1qdvuKxes8qE3+rLFoZfJULmB3me
idq26cX5t01dsGNfke4AnCvPJRZ8cRKUfFPpMHX8Jp+PL/iPa4A0daIpS5pQRdT6
r5BNLaqpW4/hPw2vihEN3vvNBjaU44pnU34GD7j4beCnxGOEm1evqic/AKvOnDzn
SwBnLM7ORY45a82m70T2c2Jsr50GOhy6APWppoe2NER3Z48oru0t8fqgwC2jDXX3
WaBF5MEKkfZ7hufaxrnu44M8B41Pvr4RPhQj52EQGfgRAzUwXJep4h6umu7Upv6X
wp0e//mW2ZG+ZlMpI5VYJo7kofoOaBKd2O8jGoLhZVZVlGjnSxXjNTYM+FvzhSvZ
HPdPYZlgGax1OEIswk9nxnKuQTgh4BryJYKeWFsanISZBJjZ1ZMQY0zIbNLU7Nen
kEhaUZGuytFRzLsCEHLInlk6Ud0gnXmrpyC+2gh7Mkkm+VckrxtBSqTIdlHuTnh8
y0ONK12QgdDlJqmLJ/PMVhAXZtx32HOZ78Dx2jTPyD8nV15LTax4NrkxrecCdSjF
miD+j938JMOXgrJY4IWNsPWUzEAD01fBpFZGOZnqNPFRGpOKdgzK3Cky39Yf10ow
ePuaXQgio19uFydQ9LUkXqQhQnKtUiwrxsISMMpxwDqclSJag/P73rRNalHUylIJ
VwmBMf53Mq3PNl+Nol4sAzK929XIwVW0DEFVz8QS+6w24kEdaDzucE7ZHBNHEJ7H
vFXh9OhAf+06drYblFiudwjnSvYkhT62NHxfydDv6D4EyEOKC2M5WqWqouC+D0iw
qcoUPhXd3/1T0fd8v1qzd5LCU5KOdj8LsODdf1Pikrq6Gsv6C78ClQZuX0cAsqU9
sD2ZlMVgOTsdXYz/a88Z1D7RjZG3ew3tN8zXi7jshfaxqb2dj9iWFzWgPniIi3j/
f10+s6zFW4eZdAlAcV9v3ZDXcGcBQstgZEugB2UbW2xPZyZIJNcg1m2uHlrEiyxr
5AZylYlCzeFTQTJDV+/vHQNFf1MaOceiuZP8HuMqyPXuv62VBkTHsaSqTEVWt4lO
TEuKszWLBRiil6o/7c1O8x37teyV4WCVVhKTH5Nz2mHaWsCQZIbmrYj48PEA9jqZ
wL48ymX7tPxmecGCFue47cyelS3cv00ZTxpTcmvvNKcDOd36mhrdoI3qCe6OF9eR
4xGMKW3XpfMLojQnQV+jJY/BGlxbOobva5IJx8wUbJ1Wc3fARiQq6hEW1PrM5KlD
7Pa+DuSVXR2L4Bya8lysBjClenSF8Ezk7n6Ua8lBGqm6Nrc+VYBtW+eUL2TaOrFp
z41fc9iIfyDWI1MR6i5rUAuvFYb8+QQlfxdgQmF6tEg6dfswqofvopV4CSuWRZd5
7c9e8mBQW7SuF2j5h/tlSUf0Cl+ZQ/Ob0fAKWcyd61vlczwjLgunoTJ+11B5rqSB
wxXYd//nDEwfSh3iGUJtlHBZBURg2TYg7+iMJnnYt4Kx8nX0QW853BaQzXDsR54a
jo90/YozsW0DVY9NmlZGFddwqvstv1W9MFCmmCMBH0W++1MuyqkelHR6Fo2ju7DW
te08IlOEzaltRew3AkwRT91pOlmn7V7Hb3R6qxcxxgobPJheVWECENNF2vgj9abZ
i7rC/cxXr6S/eFRgrb9x7zwemBguGMTkgJTTyNr1yFWhYl3f+TdrRri/3cWiZ575
s8IjIH3kZJKwRaH3eecUT7ZrLAXZAEzILkhp1Ra+YeNyxyAJPwb6k5hfcwD/9NlY
gyDNUf2jEaP2oNYdR7B3ZUv1RFWMFaWmC+DfJgleCxHbIdaJQ51FSIUXp7zhb6Va
QAlnEC/iERXc0mq/L43It/S62euC0Zeuk6eTVjgyH9ncXBVwz1P6EkHika6xkcyz
3us30o2oWIEYZ5D1ntzQnnW0OnbYZ+pmlbhppbAAirJ747lO9GOaRdzw/L4JJI+a
JAWnt6W4CHg7vIfIf0LxBWr7Ors2slQdxtydGA7r73u9+5xHsqGzDV1/iRU5xu6b
WTfz1LmFFbftKKHU2QlBhfeVuojZHb2hxkrgzUeOoi+6cDi9mIa1P09GOZwQ23JU
JrtDVr0jVocXsJRdO+tCCxzT/mqK0mvQGi7llrdei3KJ4dfU89sgZvZqn5fOTipA
bFARE6XSazlWCjZCDuADYyKmh4E+gx1J7luy05zD64w18tIkY+lQzA+68JDFFfQu
5tl2k/sYSbKdf9i4b2zuuODHKNt4d5jc/9xE7P25/zCklZVlsHKpmHYP1n7+SAnQ
C7MtsDPFfnzVFyOUXg+B5hpbPD8I6IrglcY2NQliqgA6QwikGLVnnqG3h9JD7EiF
pln+zU2eQmZeR7vS2UMnNwe4tNPXdrYEPn5sUVEHhrLKV/o51KeLXsRFmKdWh4Wo
ykGK0k3O6SeQ96F2Tfz6hN51cJwo/wXuWRijs/w8/g2yI7LSDa0vAV8I4k1kplTa
zx6axEYE8bg=
-----END AGE ENCRYPTED FILE-----
{{- end -}}
