{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBlVitqTmxmdno2QmVUcXNL
OWxqMnNIdU1WUm4xam5kejdSeE9vZ0F4NENjCkRWeThFQ0ZLT25EUGlNY3FJWjVM
VXF3amN3QnpmbUV4Y3hBbzMyZGQ5YVkKLS0tIHV4c2hYMytDdlZzUEpDL0FPNlJD
STMwY211amdNOFRPM0kvWWVHMklCRTQKCDnl4uiEyNoxkLDWMqa8WPJiFBcgdvH0
mQDDA7ucZOS04siuxNO/uvhY3UIb0PRRnnJNQtmn55vAr0iyMB2Nwv8y0OkKIbxK
6reDauyWAo3C/gooZRNU2IMO6/ZRPIwEYrp9H3Gp1e+uy+gG4fFtu5lpG3lwqbTO
eImSNHraGrUby4aOjxAmyYavQybGHPl93gMzRdZTC2tIp+ycK17ndY8IGBfzyfNO
buMFFrGq//EXtnWPblsWrL7qvDcw3yPEwLP9sp8UJOLjTQkr3o3Zht3pj+WVNH0z
MJ5+l2oalyMzhO1/jJr5LDfbqz2fvunWhQVKME0d6rmvjAfxKHQ5VZCKRGbYctuw
3mtRKTVdXPR2EU1t6wE6MjHPB4oSErUDdgvNFOvyJ8pEiQ==
-----END AGE ENCRYPTED FILE-----
{{- end -}}
