{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB1ZTJGVzNmZkk1OHhlYllK
bkx0Y1gzdm54RnU2ZW5TM1VsRFEyajRpd3k0CnhtUU9Cb09qMVJNRXJjdUFHYW5v
N3ZzZ3VHUnVZdTFld3NsVmIxb2ZHTEkKLS0tIFpYanJUaERiUitjVWNFenFGb3lP
VUZ1N3h4cERkMEtKOXhqY0lUa0V4VncKckXTxPuXBaEAs1zBGioYAEETMaratAAS
IP/PxVU5u7fXNaj3KalSk2b1GHxa/0fXo095xC6yDk9ifiPTZkfuIrNdD/1dcYpO
XG0btRYsmJgkDlXlcsnshM+WNrHkNVcPX34s8USDmgVR49DGpOsQK0c1X4Z8I1Iq
/DecRcvhldeTUz+bJy9Y91xqLmQ/Mw+iXZSnJRDGEDoRFkEHJ566HCP4TzUBJODG
slw0wtkdi5VLe6C82X74T/wSIwP432ii+GRXxF9DAbJJpanKV0BcJXrxOZtKHYn0
E/zzoJ4sTeKoJ/eCc7resdLgymdTjVVIIWt7ErAax6GJ7vLbvPhWkrb4vGxkYocs
10ULjsEP/WirsMLqOYq+QaSLlGeQ7bg0PbdzBHzsj68zJFCCw+f99uEJacv0CzpM
UW5MuSjEXveiXNoqXG0F0TdB571k+7+vENF+mKDH4HZi3j07PCzrQ/6Ys6vHnuUT
Cb/OOkGB9BT+apdPBlsjo6fu1UwIFX5i5TzUxlf9evMvCrqm64Ak6bmNk02UBmTf
MmamYMruvTgKJkBaGuWLOZJHKa7Ir/pE/Ok8hwYKkHO+8CZABTnNt2TWqT+Ub86C
s02fOB8WnMDi+tZvU3aQGxiOyuz+0NavDgYIcqPJ/WzScI0bCkz4pQYqJ9bBqDN7
7kg5LZs1bhv61GjfzoabT9CKzjEoSBqhb5IvNhGBXF8MbM9oDcCCcf5KF2A0Ymun
r5ECAneVFuaVM/Ea
-----END AGE ENCRYPTED FILE-----
{{- end -}}
