{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBGMi81eHVwNzU0ZG1JOG13
SXhKZVNtdmplQlBjM2NpT2tYSEJGMDlGbVU0ClNDUXg1MFJEZmlqTS82Zm8wQjBU
WUw3ZWFVM1FLeCtjQXJrUVhsL1NxaUkKLS0tIDlsLzRmZkZOT1ZtclE0WFU3UlJE
USsxV1Z1V0hCS2lrTktrMzRhTjB3YmMK+HURga34AtryRr5emBBSWJOIb6LyyMUw
7mmLD7P+s6Qd1lynVe1z735p27/evzeDRBSYG54ZIJhH9Lh1euDzvtnFaGqKF5za
/1GxouyOvRYnwFKeC7XWM3MeTGEoMck7wPbMp4EHEIQdTD4Lpebwj+jVcqPV8mXM
J6T4EPcSTCFEkpYauvM87qdm1/ToBjWk/HZPwnchqkawcp+2ykGdQyHUmFBGBm78
5AlxUbmHEiRVH99Hn8d8ImtTELZCXm3QE/DnUHtLjgX1ioSJ0pP1Qvzc8sSWBkvO
k0NH1vtcPOvAlvvq87+x9uMDQ7h/+ALzLx4F7WMoIbJncbTbgkJmJNBojKa7mxf2
/Lo7M9ORY6sh9fKLDL2k8qwNKyCGIae8nK/6Zy1MbBZPk+jaqOCYewRD83SV7qQk
mOSTyj6OF8JRirYGPK9ljSUveoEZFjfu77kbNW1sWvOVHWjVxZ6PaAoLqmzWAAq0
dQUVW69HCleto/ZKNFlEMpvqlavLYSbJatbcdYCy/Vd3Vr/vn33dkeDgC5/vLwkd
shL3qa7iqk/7VznUvJzhKcoWVot+vVK+QqCtRKQlueFZkyfcnxUbJypqPbSTYWsM
1CgZ8Jn7Gr97niTVUl4DX98H3zWH+BLmVn5MyOA+3IbeCwAk7rf4m2y94/MuAWpa
5MGJgKCZJKcCkF3h7TECleZv1AuRsABb1PWCGQNsoDYZVFUDeFgjLUMfmPsYQXTh
DcxY0qWst9BimYfB1Ow=
-----END AGE ENCRYPTED FILE-----
{{- end -}}
