{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBMeUVPYXVRSFpYaUlNOG9u
REg4ZlB3Y3lKN0UyUWJoSmExenN3VC9yYXo0CjhwaWkrTTh6S0lQa0xJZUhLdThR
d3pQcS9MUktjcjlueFFKTXJXL0hGWkUKLS0tIEwxd0lzR2NJNlovZzQveGlyV0NQ
clRDWnFIVXdPdmpRRTFteG9JejdIancKEfYQrhjv+ck5jYMdKDe/uZEYLbJlBpkq
BLAmwrqop5gjQoXstmSi0CkGrD40/nPGbRaVMuh6Uy1e3M48mq/Ug7fBu8VkShMn
QqKriCsSVgDE/YP4W2lksVkl/Fo2I4yl4IlxvBDw+M4CQrxS9jtpcuBJK4s0sOmP
H2HaHc+mM4qW1f9egBxarPa6IMQ3zu10ADdxX+m7E2OxV9D6eITXM6M3XEusSJyH
HJ7mVz8HeRiDleMTlDysL9w5LvqxDNxRMwxcqdrRmnWBc3KLSfXccaOryMxTmIce
Iqo0Vzu3bAgpPsWTHk10/07unD/xY6KjRtsapzUtzV9S/zNhshvJwcsPbAy1HmI7
EUNYuyhs9+Z5ZPrJb2gj01HC57Mu/1M68uodPJnoU3BZW2U+mpVKbWGq8Yl2wtrO
7hVMWd2y6aMHXCBhkrDfwCvib5SKjFK3r1VivaeM0p0oMPKv+FvNFdha0bNp/vK6
ex88BbmArnp+yPHv8A0SOwI0M+q0JGkrFywEA9lfFAl0lZiBqoy3OYN21CMKTmdp
jQUAQS57NFTZd10BYQGRLB9qI6vO/RHDsdMVj2zsKBHn83ndOQZD2Kysa8Kx5gTE
cLxLzWldK5u/JrFBEiqUXTCBz2z8AiCU9zs9iasL1eeHLTEQusYsRy8EQ+DxUIKh
55z1Ovrum8Y9dkZ9mv6INKyZU8rb/jEgbelwpHKPQRWQlAP0Bmzuh59UEemYsvx9
0stDkMlZyCX71Ug96w0Y8g==
-----END AGE ENCRYPTED FILE-----
{{- end -}}
