{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNZVJtU2FKd3d3emRqNUh6
UEp1d21MM1F2cDBxZGNuMWcrWlplOFZTSVhjCmVITnFFcEF1Mk50M0UvZGdOdEZx
dEhMVmhKUmxYaVlBc1pHd1dzaFRSeGcKLS0tIFhkQmVhYXFFWThzNmNNSVVWODNO
RmxrRG1Sby8zQXRKRS92V3c2YmFWTzQKT8CyGCV32orSkbBeBVVPTImO0tFN48eV
I1sDbPYelFHaRmQApO8Fn1Vd2rgEw05Y1rUy08xnshb9dMlo9uO7oyuBwqIdmOUh
mymPTKkIciKYOrqVQaG3vLum0EmIsjGUmVDZoIhDpwX/qLbkPW4FWBS6MH/JYSpe
ph+0v/Wx+am4wPeBEYbM7I0bqtwWOga2hPufefMR7MuupNJnFrt1FhCMGOdYl4sG
CSd3lw9l5A90E10v8ogas3Is8CSbCn5Mom8szrMc0sGPypU/9o1vGyG9oeUKbRbT
oxSGGQ0HMCUgI5w3LPNRceZVeQKb5+taWppH7RWmKPknMVeqNJZnIZhOShZmh7Ea
bdRZpVDtPkk0kB7pvFBcbGyGVKZ7VPeBLkUjkBoDtryiX4B4oV2M+Ra+AuM4sCLJ
F1x8/iWpQEaqdM5JO5uXBIvuSFs5IXylmBaHg6jkBMTbBNoHJFqjrGadgZvrpoP7
W6aH5B7bYCrymHj97X6dgZfvwYWr240wGwWWVmH5N5m4rFZeeVmhQ10gwb1qEIJH
hhznkyq2NM0A5XiBjViVcqQlEhRwSilu0+qxD192uajsu33ahQVRP1bKrNTJb4Up
LrbmC5mV0oqFn0HaOrVQYexHfP3v+wi9caG1RfNpdFaC3sRddMSzIxjS1t4I+ifT
zEicXkFdXsAa+Y7RYG+CbVVh/SoWA7NpEGtmE6q4xogL8iETLvQpXwaQaZJnA0Hg
e0NvwthbFA7/VCseoVhmKsIbI8U8uKt41ANWqrG9Hy54n9T6EoEGZ6y2R4lovgkW
GF218FbYxQj92q3I4OgEnbj+eIwXxZPTrExtV9yk0dRCtiV+tdEH4QUH+V+dgn+9
J38sUilzTsRZne9XpRBvpKH5z6watbYT2CYCNxujht/z6XNxbQzxrNBWVjhkj/tz
culosN99zkmyftRW9H5bAkSCfzH8T2eNAEn7KB+N61cvZTAPY+Hn88Pb3I8LW4WX
mUIF5l0+yRfP4yfcaHE6jMXft9CQF2XQ5xA67/LHqaNNPrKT23Fe/Uoez4X8bqRl
US74fR29bQ2ukj6yxGCLAZa8MoYj7ltwBVSatyE13vR9Gh3a+O2aKxP7fgmqyrmt
o42l4dvE5qxuNUQ6dRBKMdDsXqOIr7EWYqea740XNReWuijYdGC8AH+YPosMXt5P
0HYCMllheQ/jBzWPjJ0vIOih/h+PcjUPvfHIyy9whM0TD9BuOZduLz6/wrHq5dBP
gjDFxwiliIxxJMuqpFW2TPT8I6BoqW3zY4McivbK+uOOVKwmBunxqhu1RxLnTTeG
etvsGjvL3/Bf3530JqRpEoFuJe5YZFyK3ip8jS1iTnJpbcajivudTBRYw/XpsTR3
ffVsNKGHFiMPOpkzP2xMjYJW9lvRFHltNirXNH/IkMI3XVuLxQ+JV3YzMVFuDQeA
GWXc5zg+JVfwFEg1n4HSAgz/jIeIQaoxOwbu1f765d9zqkqfpRivxgEmlQIkDhxw
QI+O7tdgOsa1i7LOZgy5oTG6ErT4CJiz7MEFG/OEKIiHM/DY6KGKE56XVyHahkkp
p572SAwaeE3yNtJ3Ot9rkKy895UMPHaYLzAJXNWZ6+h1dOd7Mw2OpKf8Wm082gdg
U7zRYPO0BSXWRoJT7ciPXMftN+txqzgt2EFz3p0vWTGLBnfMNyjNbk20AuTw1ihL
tHSVTI7H95Pf/IRvYt8wAlioCHhNCjC/8S9X8tsA0qj1UGjmSPDX6sUBppBsOQT1
dYmW48bW5lU514BT566GcECjjjw5im9+oVu4M0MG/Hhibzaurqi7fQkfmg8szMZt
cKhb8MhMspIbRVDqwFMU6j5CaPJpGya+ZCKxuezRgx3qgAtA2YeLYojU4IjKBubk
J08OjGsrvwrvOwd1bC/pljU9LbqthSogWozriSwF7LvsSo5w7aiRXtdiU02Ox9gW
zkTN0guIbVrINdmg/LOXPoU7wNwZrAOMONNSKrlVcz4yX0gEPF4pSNw5QZwZyUBb
YZxjjyE9cY8z8rKwzookpebYgkU/2gjdvI4qpJ9VVi8WheyVb+wJLpcZXzinEbih
aOjNzMFqLS0LNHe3z3G9pitgC1KajspVX7Amqpmb0tXejd40f2lLPd0rXaK0NISY
ZRaQMx1VtkD4NVZqcBsKs4gkSS9BNFuj0bby3eObJue7Vdn5JmiT7yXLL5GsMzpB
Z6SqIPmIQIRQhEfdsiyHUDItVCSS5cdC5fhqc5Tatd4ChfUlkCE4UAp9hqsh6f4o
Idmn0OWflFAlelasT+dVujKdsg2FNcoe7v3SMMhkBQPWrBkmaTLN751E5zt43ZFm
OuA0vl8RubaDvP/vQSmaXCtC2B3HfUkSuMjItJOU5H3IQu9xL4kdW+Eto79uoyHj
/oS0+LUqVXNA4pVK0GzKltJGmqy6kEE1+ExvwwRZ8FsvwfO8Lv9GeuIsLhDNsc0D
40iubFXz96PwW0UcPQvznEwL1Mm5aLFlGDJcrupQOlLsMxCC6jNVEMnazKC1ywxG
fJuT1tarJ6QKy6/IM3M4ijcS0RbZnN+4scPQalQuOQ5AnYG6BW5U2zlf4nNpuOip
h1xS3Mc/yiNX/u9xsjhrT/tgR+SkN2v72y1mxYfuG2BpKs8AhlJsbhgBhE56Gm9w
hu5h/mEGVOzQeXTH3nkGyhqFuo05zRvPdePhEMy0GyrJWX3rf3pCECivL7zZWjJu
ApqkcZmBF7yuYjfmR4d+SMMCvf2No+Z2YlnaGV/XSBUN01YlDsVldCUu1eK4IdGm
ZumVBIgE8jwuPRQ9q1qQYLSyTRUVCsgHNjusg24uxa+bbBUVhlKBUArA+qopH/iR
WwxSV2jtAzCaOMArC0hpSU2pB5AB6Za32cnWN0T4yPeIo7OBx4+0R1IzMDrit4Kp
kjhs9cxxNiQezvTwwITDZoTXV3F6c69/dWjBRD5iAqAPbyO+4fYBde/X2+7Cp3d4
A0hCwKJh8CSKZw54U+zHEWnEWVW/myTiOU4ugB9vV9Bb9ODzn6oyqEmt2zms94wc
I1TYr97qSiszBR/wxIKrTCw+f3ONyU7gC6VFret8rCflNm1zNYjTVfTvZba6HaZY
0nAGtdqCtUtV0kR5Sz0BixX/IFPXvsx4t8C/xWHvIEt4Q6IcVjp2JW3F4QqVwo4w
LeiYbHO3fgtcRGkSbhwEOEsDFa2sQcRaeiGGvYBgWsnK4U2faN6NP2heGJNR001c
Lu+7MUBK+1utwyiVXoKUm2c5v6+kUhdkLUsIRuceuqQ/mv8HkSTz+/NcSlo9aSrW
f9sPTcG0KVeLOSKxJAh1Kkmq6xdeCGaIo4LQGR+LE6+mrOl2hTI7/67YfNuV2e3T
hzqf4I0dcmjPQMR/0U9pUVTohe93dGlvCtexCusKIdenjW//vGZrMsCaDYtGvJZw
WRPXw8J0MCk8QtAj/yhhGnC8dViuSkNRoF1m1dU/nB4eGePQuGw/njk5mN29s38Q
Uhiy5JY4QFYRGJhjBs96uzgyVC9X56oXpBtPEDXmMEwZ3A3HeahxanyiKoqMYPAz
4QwDQTH0xOyxk6qrxRJ5
-----END AGE ENCRYPTED FILE-----
{{- end -}}
