{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBiVENjeTdKTWJGa1VZbXBj
U282RW9NOUV4WFhVaW40WlBaOU80dFQzb0NBCm1jdURjYmd3c25YTHhsTDR3SVJ0
bDM2aWJKRU9mQ0xtZ3kvcXB5T1BrQVkKLS0tIGdZVTRqeTl4NmtwU3dpckw4bG5D
OTM5ZkxUUWZvODIrQkltbi9nOTZNajAKtHnvIHzRRDd1PMvgFkAjQXwTzZYwfmMW
hZeKn6AD6ngUJjBmLRhQ4LV+aiT81NhyYDG1MR6FHhUGX43oei0lYikq9SseKrw5
pTq3QAV9Qohzv2mH/DKPVj3sbp/eGU05yPXMhbirIWs90iqTo4X+yyRFFPAS0A/p
E+siLgdmCn7J9BKeDEPqBGinSDtvI3AK4vCMug6BH7R4yqUuAlaCge86EMJxZszh
R2XxxPnXUEJS7ES1MksDdYSiV2L920d8aXXFeRxbOPdaEK9il98XxwJPzub3rQPF
ZgbX54oemL/5DEB9O1nHYpMfpOH23avwapJX6CPkqCeu0f/jukbqKI/WYFMiq19x
4NlLNrUu+KWB5ykW+7Gvog8vSrt/Q+bbQlrF0HI6SjJrEdhCj4TU7G9xD0k1wwcc
w9XepU12HFM4pCROe+vLRHL0+BPl4VZz6Z1OaqnCe4rjX6ExW9dMFVu2XkxOxrnn
0fDN2hwYgKPJImgo3iGgt4aTN6ylRkYJjRYbXHRbEABv8A8UigWS/50u6FMm2bbt
FFYT4PrqvIqficnKR+q7x2Bm7yLLiYwOscT35ZuUwBTka8tt9aGwTzy6iybXe2Uj
KRdjdhMcsf06MuyVz8cIioJUcG+LQmoyrEYqQ85HM40NPPPE6tltM/dTpa+YGlJ8
QDt0oJ66uC2KPSFhrlvD37sFyCyDc5v/NgpSlG/6LlKk2E2Jl11n93t8wjXqtmU0
Jj4tsT1xLrw9zK0=
-----END AGE ENCRYPTED FILE-----
{{- end -}}
