{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAraUZ1dkFITlJMbmdhbXUx
ekQ2SjRhaE5uT3J1czh0V09hSkZuanYvUTJvCklTcHZ6RFBrUGx0VlhqQytEb01a
RmdYRXQ2MHpPcjY3NzRSWndweDZmQlUKLS0tIDZURUNHV05pMllQcW1uQmVUNGN6
cGJuYklvRWpnS2puQ0dabGdVRGJXdEUKrMD6dBShcYYPLftOdjR2VcqMJLvcL9JM
+XHV0Htwl8L4Wse4sNSyIy/RHKri+KU8cg9Kxdesea68S5hu4b5BUp6LAFKYwS/P
W4prlqIdmz3TQpJNL+DnCWn//vpi0Imq5tIuWGsbkyBxV1irSNMnaPuWtZREklCo
GJpUADjc2JpPd9OAxR9AyXdtWCNI45NdwmxDpazxET9+5O62pvP40jypPZonpzpV
4C+326a7pNi7lauEf7eUtM7uBRpnhBJtuwKB3WWOUSA6q/ldBnXR9bxzvtMAKwlw
IqImAyfz5hyliJeVI2l5BXfimLHbhWhmLKBOo2v6rN2b5v+BpeK+YGn2A2t438TL
M6vTGCGCeO1hoiY283aa6AN6ej4Sf6MBs/yN1GFQE3TbI3ZnnFhFeWchs8l5D/bq
QOSw5mfu7fGJbeyEBt/FKeyvM9lpEDy5XOan+bTTiJ6ZQqdrClkayNAB2Gdz3TH6
3gxArIrPDZnFSyzhbvbd040LVXmgySj+7qL2az9ihGtuQimtBrtVoUY/5cwDSSX2
EVtsN3XOGs8N+dGblj+9Y8jqMVKPUe3jogbIw6PwoBNzROqAnGWV2sawzilmF17T
pOmMUbeI2c3F9Zp36yKmjgj7+cinS+kBhtjH9Whg4ENWTWTCAC/l9M4UVAB6QTzi
HGxhPGOW5JrBpGlu5uryFmBB4528YgF9dHTRRJMPDPAGgZJabx3M3gvS2YltcZNu
qH+g61On9BDFLQmF3xCQrbNkDnELl32KZVEJTUALhUbPtODxeZCGv1cWcvDtsjM3
wKYbAv29xR8QeGxGOAZQ5ZA8+ACQ+imuDerprGj/fm+06tAdVPdgV9COgWSdjmRd
+yoKfBSpGNu1B0AbylVIr7aDa9C0etB9ZZHgJ0u/YxJcNAZSM9Kk9CBmaMHtZAcf
kels3QuBb3lvuw3idaUmXoEKruCCsMhJ72QX95vtld8Hmlwvsg7/dOLVlPAWATiS
m49pcDPRQqRT1g7bC2gmGyaW44f093chtbUEvGIoHJA2lOeu2FiaNQ1FKybfyH6P
faa9qhXMH1FdGMPP53RjBvZOnu3QFoE+UoqNrzy3z94MNK8Vvxr8d6kyge0o33TZ
+y2rtz6eM0DbXD44IF0TsPlPd7cZsMVYfYnxflV8RGsT86bjYPvKzHehdS7cDZOm
FMbw0V8IrnPeZkrXd6c0RaK2tCK3zSM4vAl08YisQM64r4Fwrw/gw7TFT5B5nPLV
guGb4etFgO+CHnLaztCY/nxrKkjI0ybQ1faB0TMxLj7AnslodpivOYKB8/zvS2JT
nYQHvRqQNIuNJxlij0xOtHgycydTl/clO2bHPRffHbI3S5RKMTl3JN0h/9GlbOrQ
e5BtuOculGP95lpfTOPF/TocTl2CduJK7f3819Dy7cG6unNDE6IqjqI39g7TM5tk
tRNfnqKa1XuKh7MYKkmHkNkYDb96oYEfreUNsKJIQsfrTjndNUeDF3EUxLY+dgO3
WMM//Yy9phO9orYAxE1LCvgJlny3MM0kiY8Y8U0gh/MEnQliRnttzTYqbWCeZTLq
FvDpQod2LkNF29OXQ2y2mao+aYHmPfkKjJNHVf4cO1p0Nrn4bJqkAos2KOcO3/BN
CX7dEJ20TORJPW9RStwLBpwGcWqrilkb5i8vcLqLI+VwmVzfr26wDQe0lzdcE/NR
h3ot39h6l52EUKF3abUXy5dediKUQpEjIkSS5Ry4HcbOUuBSet2G7MGA8N2615lN
vT/hRLg35PQR/XyvIM1bl6YyfZjydHreudKwt4bBYsWgZMiSPmkHK0ucwBkTAR3V
OOEYqS6U47Z8v3n6KzDVGUbcMRgyM4TpuBIQmb9F7d4oE1wYZvF9kEiew3YhN19/
oMULesNK0s+FljtTvzCmZhqP7PCfe1wahDsAJJvBkIoQyRUz9rS0tlcsHEb8dO0n
MxGO8whRKl7IvkZDkkpPpuQYuvM02h+9W6VAtipBCUErYLabjbdiKcU0nsKnvgMa
EFdTYXuZXkvVa3S8A0e5FrEfDsSd/ELjRvncdyumnOETwOuBcI7tCZCK86oAagE9
K9VPzEojlUpULNIMS8kqytXhvMbF7Bxdp9r8X/YVL9yeK95t16ySp+4WhDC/R3Vk
6QbpKH2SPYpfhEgoKI3yZuxYfaGFFtfCxtVZLLiSOWJuDOZ424wgCCfEuNnmD4Mo
luCqwphdX0p0yk5wPBrzP9yCInEoNth+b7quHuNIbMl15czJsYvPo/G9L3/zKqdC
QBabxukDX9zcvrrPOgOf4ED4bgUIj/LQjKE0zRW5dDzvAUPeN0+S5jJQcnyrJGwz
vbsMfM6cwUlUV6212WufhdMBXhqo5lEUzfNQAOb9KGugXAZHGE4wvkJQuyR2gjvq
TdKK11JmSYLsLOBznzyCVzditAuO3sfmSo7mKkg1jZwmDub3aTOhUbOMi1d/8tqh
Cydzx28WfObKPQLvPMlDIrcYVydfNny4ns7V3dT8iMF3m0Tf1rJodbiMAZPhiw4R
eFosjBJ1vuUfNkbiLqQ9rOB9xK/uWf4H0ElFNfJbYF7dO6LuMyT5zAvf7UhvVhib
tG8wN8X5P5tF4+AfGFQ9k+4WK/SEvnHrbLYgE8OPKxh6AOfv5IygDB9f93KoVsiA
lh6W/4RPLddvJP8wRzgwNl7nhCEQyRLDf8AG3Ik/pm8ZJRsjJuERJZYdg8wocKQz
0mYrMfZgFzPeymQk8QZPiNC2ny2qcZGUe4a1iB4nXA1cQ4uX3xnnmCkwxpho/8fc
tF/9JH1GAc7WycHXc7Sn+wLo/nZyk45FV+x9b68nnWI+UIGg18kaYcQWaX6iJ/6w
PCSsYkHL9DchYg/thu7OkNw66liD3/wU1SuOinqHKxv0UlMowmokMs5qD5v6Ty9v
ysIIXJfD6ZW2Yq/QWHGU867VOPznVeTEKpFPwDyUhwOB8ad8BHznkfNi0bBC8KUu
pgjgYWAPTaui08ubomcxMLQ9rrlCgZ56qgg2jNdIL5yvZZBudgKvka1xYeqJhEYx
RwzFNMyZpLjZkHwAEuIn5C4sETW6m5xpbl+Cs6U9VVvKZF5nh4iSqhexQ4QoxXze
P8Mwn5v0lRIbQZpe0qyp4O8VTgYLKttoNKOdq5ZPzMKyuhGrTugXrW0/yhNe2ZCg
nsMXkgECqqX0ix7Ou9yB8Jt4BO/YFYoyx1leBHKaNDTp5tWac54YzLYYP1hgaAYp
pfbe37Go6rIO04S5PHwBCdBAQr2qGDrAXH6VNH4JOxqL6EW9iZOA2PqPKHhNO3UT
NErOX2wQaqrreQsJpJ4NAdgHdEpeV1cYsb3PA0NZwecQo+tI2PpXOC087SzyF4iD
6XbFsKEyEj6mmIozlXjh+7L2lBP5b+ZElhbWCKr6e3PBigoxjGDlkyDV3f/qp3p9
dkVanB6BgL/SucXGwNyaFKfrcpwh8WvIjFvSf4QJ6TMczn1XpZB4rfXWJCtCcKzc
q2l7qL4BKXPRqMOZWaV71shszVexb8amaCAiGSAXCcDAX+VFyR/7FpgYfsoIkEG3
gfd8vYD2TDC3tVbi/wEl3iR6wUtcv/qF/URV2IQ48CDRjv48ilrlMOFar4LH/74r
pQdrMP6/FXHWAFOpKdRfcYp8neWDn1HDeinyCHHZQZrzL6CidD+oNqJevqH9NmeV
3kKopDs3sAIM/5MPCWjpeP5G1iC4a3d/Hm2cqb+fpkvZKf+dfCM+uQ==
-----END AGE ENCRYPTED FILE-----
{{- end -}}
