{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBsSXlSZDFXOUhkT3A1bE0z
SWhIRUxJMzc3d2ozWDlUS091UW1ocENORERjCjN6ZHBEV2wzQmptZk5kMTcyMjNh
SUl0NFRxMVFuOHZCSGE4THhZTUFXaU0KLS0tIGR1RlRCank1bFgyN1JqKzVPL0VP
RFA2UWRteGh4U055YlhxcUJ6bVBwSjQKe/10pGHDJKdMAz/o8lRQ7b0opcTyzN3T
w8cxwk+Xe+EvGCoC9b9+5ZtyolI4mIGIzYMR/RIKcanfQGEOQTt8KF8dRLBWj8E2
8W/jCWsSnkWk5ZqNKfJzzsWI9aMyL5Z0YeC8TPD+xbe2f94tOhwU4IlvOqmdEk9l
/G1LOfelfCYMnhgvfe29HDNPmGIUp0/HuKq+NG9y9qd6EnS4NPl2PIveHudfHRcm
85OmLg2YNus2KLoE8yCbQpQDd4SIgBrssGTghyf1i2F3QrPggZhvVTBtghR8D7vZ
L3eZ3g8NJHbnhFQXxlNmPrTEO1yQD5kQejxPQoc0NKNPltIF6q6CBAHLCC99tkRk
15PQ9nlIIIdK+qyGVkt2FbjyJOYCZCXAUinnPrlSE/REJlKSGpVZz199L8InBwh7
QjOgMN7P4d9aAmyY64gFPAY/dLSXrm69jbPREoTk2pad+ar5GdO+C9hDFlC66Rxo
UlnD4HrdJClA5OT1N8X5oSVm/mj8D5EKtAmREpD2cwVay8GVfdUdkcfrbOvBpoAS
/CNSdeGsbCs9p8/3dSgrGHQlcfhFFppPUXm51bZ4piWw2bWsVAkcfLLYMGIYjm8U
NP/E3vDRuVMYXjdBJugx6Ljb6zYPk5JeX/PgGCFa3cioZY3CgucyP3UphTAnpHx7
1FnnkQNeHwe0c8KA9mKIN7AisoPC5fdgM7seSj3nsgjQ01b4l8NMP3yu3klBw7lO
cc3z4kb2UP19Bwv8
-----END AGE ENCRYPTED FILE-----
{{- end -}}
