{{- if (stat (joinPath .host.home ".config" "age" "chezmoi.txt")) -}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBiQkRPS2xMbUoyUzZMc2JY
VHh5bExSL3p1RTNRaTRveWtVcGRLanZKd0RRCjBHV1NUWmZ3UEorMlczQ1pqMng0
RWJYcWswc1JnK25Fa2tMMi9uZUM3czQKLS0tIFdIdjhCWENKbjZKNXdvZzF4Nnlq
TkNCeE52MTFic0gvV0NWcjlWeUtQdWcK3u5B1BmVKkACkGtrLTe21zdnO8zQWKin
55YPbZsj+7sXEERrTm7jjsmOjBb7r8KIaC1BTPbYipMVp56XmNg074N6H62HieEe
ZJYAGMwbVSxg5Jj+7ToamF+q3ReN9yJIviWqOL8MnwnPaIGLyj44MWjfbfDeOeZ1
sWspscwjZuq1Ga/D17wirrXds23g5KqLqkTMMx4Cqrgz0VjyTW64/2IleGmLuK+D
tVcNykjcIefZssKpjKJvQtaDkLy/Nbuve+/goSUxBSETgtR7yH5QcGulX27KtMf5
9mOPmTg3dxLSEiTVTLTjnnlofHjs6qky5enKgncVldFH+E/L3I1CftINQKkq50fH
H38ozZ/vPfiiSSHhk626pn/Hv3nuRhKh55u2xkLlIQGcKEs6JemkbR3fD4oS4z1c
/YaEXIm6wc5KpI6ywvXP/5bqpCHgceF2mglgM4us9CQsWYtrEnC/Ocs7ryXhciwq
4U9w2kfv5RpLN5c1zWI7xioEDlCJ6qv4rEC52BZmA2lI74wtI6TxINz3HK/3K33F
sl428dQiL7HLh6K48dIw+sdWHNMC11CLUmpWN1iN+cvE6nDmbaYh0ymGPmBH6YHg
vgz7J7m4oh0F8nEWHGKo9Y+tMA3oyvdFV6IaK7XiIKEYMxvv84MyRHgO5xgG/e+T
kFYdRpzBcUoBnr51T+oDffmAViWx69KQPk/jM7joj2AVPeKbGi2BstJYlttvDPLi
NKc7fwc34LrAF9n01tYDwFFOsHZy3goGsONs1nYLNj7itie6BHUdHq8N8NzONHte
zhFKBZr0bjJTGwKtSfVa0/2dtefEhzeCY4SA5HUra9RtOeJ710Mg/vfSvORkWQSF
MSN38TFZUSK/pOZ4ylFth4hygPgmn7UXo6cyY79DJ/JoNaM/JmsYdTFUkSLpaN8t
+z95Bj6xG2R50wRCm5F11SXtgFF1nrO8WTadL0DjBxBLnFvoylDgOapV6zzVFTH9
fkAJ2zMRpp+Hsy/5gkX2GLXrRgxL7PJCDYBcU7gVeN4YKeeguaj3g2T1ucFGuRok
I+5mEVX2eHM2MO5pz7ec4P6+DU2fiZv6moTDXqSCWZcz6M18t/HUx4g1BxOIDwEw
k+VSe1ddrNG6Y9O1FM8W8/HC7j4zeRqYZA/+tFIetIOZUMrgFt8JqT+DrNVPmBI2
zKAuLmamTIDB4EfAd0Tqd4oYzLbTLzGdW0e23a+S+fcpjm57ZbrUMvGYAisI2/zk
A8ciVT/T0dbKZbVn6XI+LfYdtomo9EuoSgr695JnNxlt/OHVk3uiQhQpMGrDcx6P
3gX1rkZ8biyrVn6RunfHneylNg7Wi88LIhKobvHSgvjyJsmadC/WcrYy7OhxHAN8
Y/HeSWdEsNGUKk27YR3395spf2BaAMxCsvBy3cdy0VOCAAdJc/ZJUoVPV8urcTNx
nX5bTIcbc+IwayKPtThuyiuxWSB6v8SqOPEYAesU2aRWwCotT8ScFRo3Z9sSpBUS
otyCK4J5sOdiuZKC+Gt1mAFGpE1paStiN4dMaXB3e66gB8Yei4soeX+278WgxLXj
dEBYkv95cqtFD3Hif7900B1sccxsvUrsjUhuqKVpdCAptUwbrP7qWRJ0GdDbfWr5
yFRrWlCtPir0f2FIc5pQk4kMiszToxRSgEGzDH85Ifhrd1Q+do+JpVEjFJuNTUn9
wlhDCMOF9Lfovm3IIoHaSo1coLR6KinHrM4dyhE38Beo4dYHRywK826sIwkL+qKO
bd8ISpc/JhuvA4JXUuzj0xeW9xifs+u0Xd+XRaLiK9VJpS3WVNycyWmx2BlcUXXu
P3ru2BMJv297PHMf9MY/LYhwOs5wMDLIl1MhoSw1o0k86Fqbe5Mq2gJ2UV9w3rWX
10P92DLMQAz0jlhZRuINRm0sMwL0YAoF4Muv2RoSV4TdJSzOa+xoWFrI3eZvLgMa
jBvDiZqUfq/roVUWdnJWJKQH3E6CYS4mfax0CpavksiBgwCF7FOxjZRjV+k6CrLA
129VgItl6dfoBod+tnpzSe53F+KOw4fP7CpuKA506s994WSYSXp2siLMSw1t0Z/4
BQRNBK3PjxgStmMZoL51buDAwLvfMoWE93a2bVPXuGVEagy3/Idd1M9p3frr20ZF
L90iZ16iWxtyBZKogQzZWlGITDQiYe9NN/JP1Scu/+DmXIBCYUZ++pBqosmZAZux
EqY42WXmOBWDJI7n0DP2SyMuAb69We+A+a9qXxu0sUZcx0OzEItBLytU30LWTIPR
owN+sEIPsX8IxKhMk+/+2tIYl8FsZVMq06dzsLkD8w1D9SxULQ6ElBJeNm3ptUMd
uKTCQZZluTLt+2tGP+CJ3OllL8bMuVd5JIHr3R3v1Ggs6s0aCyGB/jL2VUnryG9j
yO8A+RQ0KO2rltj/jyVhbCtCRWjPmhlcFA6BEOWNwv+ryrbtJ0IwjaFSPSfvqNre
WyqoGztYmobrrP4CF7wG6MHZ2OGPIYYH7srX1bQ3pZjubiL4X3+10Nj/e1ZtBpAt
RimcYPRNyoU36LFpVD0X9sV3KOuEdAw5F5N3zXS9BjOUqkcM1LuG2hNAxjTLu4Ht
sP4RjfELfeYLWf8a1pVOwTNjPuusN78oxddOf0Ni3XddK1RGO+zaJ7GMlGH25YH6
ZX9jzqkP4AdE7le9uaWbLF9LP936C5V5ZQK3tox/Lb07Jb604uv4HNsGIUE9lMoW
EhKjqAo3yX2rOcJCEZlb3gAQjN3ctfYWEmYLhe6a3YUf7ddn3vnuI85WEnLi6Hsa
iFBlO10daUHL/xfabD0IhLjURkGbcCk4xHzCjD4CyEtDNRWNEHYP9gpvDNgevqUu
9pVlBzUVKAnsHP9XNC+rNPobLC8cTLOuICrggpXQ4uIaQ5SP2DzhETKYyOw9hiEi
wrjx27cfzcEG162dA6vIcCFblLxyInuFTMio+YdnFzDVTVrPA4HAAzeKqVn4lH5V
4FRPlJviGBOsyO2PKXga7D55kghggTv+okPF1JV1SG/xpoZBEHIVpnV4I0B0E0xt
HEahMpxt2NMtW9/aJ2yJCachrvFxTBRpDhQIdA0rjXJZECtucgJB72WMV5oj4ryT
chyudu8SiGwNdiNmm9kpknh4DzjQsRDv0vhC5mbck6UnbIsQVgE4LCqFR6iki7+Q
Fl1sZvWNnszQ0MsiF6/lsSGBQD1mIdfJldT2tjoTqNkTsgHOkwE4GydH3ZEb0Jvr
A2GtmdNS4210EhaEcX37zGLFkmmgtGyHyj1ETYdU9zNFou8sl1YwUXZNyxklo9ni
FdKfES+DAiPfy+J3ypsh6HXm8CDwtbIR7+8FvRF7e869wsHOKV0tTWq3u9F/u3md
YE9oQzPHcLHfj8dO2V23NpHbFAR1Mqlq4SJJwSuWNzs4YzVOR1NaUD6bF0bA/D0g
mIpCFGlvW0rIloWWVxrVoxyk8n1/u3LlpGePmd6uUu9WUmRazFSsjilMgYskzF/U
41jmFgfYqs9dpYbbLglCgNjuAT80ds9uTcCpQ+df8OtXnkRwfaomqFh516Juk1WB
fIaKKU0+x6Q/aXb5Efd+njs+F/j+Bz3tAl5ndlddWzPiXlJjfMWHfv1SaoeEWFx+
aj6Qrd+J9+SXotxmEbi+F4xNnn5+l3FlxgRb2txrcRQMzvZk+qq0Wv7dBq9W1Idg
+NQYdZZsMnHVHXX7jEECJeFisHFkNyqpSpc+LBxB+O37yXZbWhjtlB53O2mwx9nD
SLQILfI0nZKG9nZz/BHWlJPNe11xDcZPUd/ZjKuBCjDmL/K6hSDbIMOtCLikM2SN
NBJ3Y5skpy6Guk1WLstLpp59kZXksdVNpjn/D9j3spufZz2KPzMsgdYT+6oyoMHq
UEDYXzzZuzrfN74f+wdI2Z6GLSa2NfynP/gkN0jFhCmuJ3bcCvpW5xfoetbIxAqI
JXVsGCNmdg7lPIfBZhVxsNs30yHYpyBy1Nwu6dew6KSCj9FjO9ricVAm//747DTW
bWcWopiEd7xchREdGUaT6dLPt3Pf4lsVciKWzvY0FSChyaL5pMmQtpt6FcHkmb79
YdLoY/uud/G4RN42mpIXSxyAwuaQ8IwKXZEYswa1rxHZnG7Mp9q7f2cujs6FquYp
M/jvSW1BYQtFZG9kfQ8eEhI8ifiH6XGYQ1sGOXhDm6sXoG9Dx5hxRVFb7/xVaCNK
j0nnZOuKYJXzxlFTn9EY89SKyOcBzWSQaPhePHxsNMxEr0JK9haaceGjWfkcO1Ez
fAbsHzZsqhDHQLc1eG/DEQ9+2zjLpkg4P80vC1Yh6yCl9K1ES5BGIYoGggn7FHFv
g3rYimPencA=
-----END AGE ENCRYPTED FILE-----
{{- end -}}
