#!/usr/bin/env bash

# universal/common-dependencies hash: {{ include (joinPath ".chezmoitemplates" "universal" "common-dependencies") | sha256sum }}
# freebsd/common-dependencies hash: {{ include (joinPath ".chezmoitemplates" "freebsd" "common-dependencies") | sha256sum }}

{{ includeTemplate "universal/logg" }}

{{- $packages := splitList " " (includeTemplate "universal/common-dependencies" .) -}}
{{- $additionalPackages := splitList " " (includeTemplate "freebsd/common-dependencies" .) -}}
{{- $packages = concat $packages $additionalPackages -}}

### Print dependency list
logg 'Installing common dependencies using `pkg`'
logg info 'Dependencies: {{ $packages | sortAlpha | uniq | join " " -}}'

### Install base dependencies
for PACKAGE in {{ $packages | sortAlpha | uniq | join " " -}}; do
    logg info 'Installing `'"$PACKAGE"'`'
    sudo pkg install -y "$PACKAGE" || EXIT_CODE=$?
    if [ -n "$EXIT_CODE" ]; then
        logg error 'Error installing `'"$PACKAGE"'` via zypper'
        logg info 'Proceeding with installation..'
        unset EXIT_CODE
    fi
done
